.banner {
    min-height: 40vh;

    width: 100%;

    overflow: hidden;

    position: relative;

    .image-container {
        filter: brightness(80%);

        height: 20em;

        margin: 0 auto;

        overflow: hidden;

        position: absolute;

        width: 100%;

        &.darkest {
            filter: brightness(60%);
        }

        &.blurred > * {
            background-size: auto 120% !important;

            filter: blur(40px) brightness(90%);

            left: -10%;

            top: -5%;

            width: 120%;
        }
    }

    .image {
        margin: 0;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
        background: no-repeat center;

        overflow: hidden;
    }

    @media screen and (max-width: @mobileWidth) {
        min-height: 30vh;
    }

}

#ipBlock-banner {
    background-color: transparent;

    left: 50%;

    position: absolute;

    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;

    h1, h2, h3, p {
        color: @iconColor;

        margin: 0;
        padding: 0;
    }

    h1, h2, h3 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
        font-weight: 100;
    }

    .ipWidget { // Uneccessary padding when in banner
        margin: 0;
    }

    @media screen and (max-width: @mobileWidth) {
        h1, h2, h3 {
            margin-top: .5em;
            font-size: 2.5em;
        }

        p {
            font-size: 1em;
        }
    }
}
