.ipWidget-Banner {

	section {
		min-height: 8em;
		margin: 2em auto;
		padding: 1em;
		max-width: 0.8 * @pageWidth;
		overflow: hidden;
	}

	> section > img {
		width: 10em;
	}

	.ipWidget h1,
	.ipWidget h2,
	h1,
	h2 {
		padding: 0;
	}

	p {
		padding-left: 3vw;
		font-weight: lighter;
		margin: 0;
	}

	.button {
		margin-top: 1em;
		float: right;
		clear: left;
	}

}
