.button {
    border-radius: 0;
    border: none;

    transition: all .2s ease;
}

.button[disabled] {
    background: #eee;
    color: #aaa;
    cursor: inherit;

    &:hover {
        background: #eee;
    }
}

.ipSkin-alternative {
    .button {
        background: @frontColor2;
    }
}

.button.colored {
    background-color: #0a6aa1;
    color: #FFF;
}