
footer {
  background: #ffffff;
  border-top: #dddddd solid 1px;
  color: #212121;
  padding: 0;
  text-align: left;

  a {
    color: inherit;
  }

  .ipWidget-Text {
    margin: 0;
  }

  > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: @pageWidth;
    min-height: 3em;
    width: 100%;

    > * {
      flex: 1 1;
      margin: .5em;
    }

    @media (max-width: (0.5 * @pageWidth)) {
      display: block;
    }
  }

  > .bottom .copyright {
    margin: 0;
  }
}
