
footer {
    background: @footerColor;
    color: white;
    padding: 1em;
    text-align: center;

    a {
        color: inherit;
    }

    .ipWidget-Text {
        margin: 0;
    }

    > div {
        align-items: center;

        display: flex;

        flex-wrap: wrap;

        margin: 0 auto;
        max-width: @pageWidth;
        min-height: 3em;

        width: 100%;

        > * {
            flex: 1 1;
            margin: 1em;
        }

        > .logo {
            order: -1;
        }


        @media (max-width: (0.5 * @pageWidth)) {
            display: block;
        }
    }
}
