.ipWidget-Form {
	text-align: left;

	.ipwForm {
		max-width: 20em;
		margin: 0 auto;
	}

    .ipwThankYou { /* mimicking the same styles as for form to keep message 'inside' the box */
        border: @lineWidth solid @frontColor2;
        padding: 1em;
    }

	.footer {
		position: relative;
		z-index: 2000;
		font-size: 1em;
		margin: -2em 0 2em;
		color: #666;
	}

	fieldset {
		border: none;
	}
}
