html {
    color: @textColor;

    font-family: @secondaryFont;

    @media (max-width: (0.5 * @pageWidth)) {
        font-size: 16px;
    }
}

body {
    background-color: @secondaryBackground;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    color: @frontColor1;
    font-weight: lighter;
    font-family: @primaryFont;
    margin: 0;
    padding: 0;

    > a {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0.5em 0;
}

p.centered {
    text-align: center;
}

a {
    color: @accentColor;

    font-weight: 800;

    text-decoration: none;
    transition: @transition;

    &:hover {
        color: @accentLighten;
        text-decoration: underline;
    }

    &:active {
        color: @accentColor;
    }

    &:visited {
        color: @accentDarken;
    }
}

ul, ol {
    margin: 1em;
}

li {
    margin: 0.5em 0;
}

date {
    font-style: italic;
}

small.description {
    display: block;
    text-align: center;
    font-size: 1.0em;
    font-weight: 100;
}

// Global styles mostly used in rich text editor
blockquote,
.quote {
    background-color: @primaryBackground;
    border-left: 5px solid @accentColor;
    border-radius: 2px;
    box-shadow: @boxShadow;

    color: @textColor;

    display: block;

    font-size: 1.0em;
    font-style: italic;

    padding: .5em 1em;

    text-align: left;
}

.note {
    display: block;
    //TODO:
}


label {
    font-size: 0.9em;
    font-weight: 100;
}

input {
    padding: .2em;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
    background: @primaryBackground;
    border: none;
    border-bottom: @lineWidth solid #ccc;
    box-sizing: border-box;

    max-width: none;

    width: 100%;

    & + .help-error {
        display: none;
    }

    &:focus {
        outline: none;
        border-bottom-color: @frontColor1;
    }

    &:invalid { // Native css is better than previous static css `.invalid`
        border-bottom-color: @errorColor;
    }

    &:valid {
        border-bottom-color: @successColor;
    }
}

input[type="email"] {
    &:invalid + .help-error {
        display: inline;

        &:before {
            content: "The form requires a valid email address";
        }
    }
}

input[type="password"] {
    &:invalid + .help-error {
        display: inline;

        &:before {
            content: "The form requires a valid password";
        }
    }
}

.big {
    margin: 0 .1em;
    font-size: 1.6em;
    font-weight: lighter;
    color: @frontColor3;
}

.horizontal {
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    max-width: @moduleWidth !important;

    width: 100%;

    > * {
        flex: 1;
        flex-basis: 15em;
    }
}

div.spacing {
    background-color: #212121;

    color: #FFF;

    height: 20px;

    text-align: center;

    width: 100%;
}

.center {
    text-align: center;
}