@topNavHeight: 2em;
@headerBorderHeight: 0.2em;
@iconSize: 45px;

.hoverable {
  transition: @transition;

  &:hover {
    //background: @lightBackground;
    border-bottom-color: #cccccc;
  }
}

// Only target the header which is a direct descendant of body
body > header {
  //.z-1;
  align-items: stretch;
  background: @primaryBackground;
  box-sizing: border-box;
  display: flex;
  height: 5em;
  font-size: 0.8em;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10;

  nav {
    font-size: 1rem;
  }

  &.above {
    @media (min-width: @pageWidth) {
      left: 0;

      max-width: @pageWidth;

      position: absolute;

      right: 0;

      top: 0;

      z-index: 1000;
    }
  }

  .navigation {
    align-items: flex-end; // Align to right side

    display: flex;
    flex-direction: column;
    justify-content: center; // Center vertically

    padding: 0 1em;
  }
}

.logo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: .5em 1em;
  position: relative;
  text-decoration: none;

  img {
    height: 4em;
  }

  h1,
  strong {
    color: @primaryColor;
    font-size: 2.7em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &:hover {
    text-decoration: none;

    svg,
    h1,
    strong {
      color: @primaryLighten;
      fill: @primaryLighten;
    }
  }
}

body.ipHasAdminPanel > header {
  position: static;
}

ul.menu {
  align-items: center;

  display: flex;

  flex: 1;
  font-size: 1.4em;

  justify-content: flex-start;

  list-style: none;

  margin: 0;

  padding: 0;

  li {
    margin: 0;

    &:last-child {
      margin-left: auto;
    }
  }

  a {
    color: #4a4a4a;
    font-weight: 300;
    padding: 0.5em;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

  }

  //a {
  //  .hoverable();
  //  border-bottom: transparent solid 1px;
  //  display: inline-block;
  //  padding: .2em .5em;
  //  text-decoration: none;
  //}

  .active > a {
    font-weight: 800;
  }

  & + nav {
    margin-top: .2em;
  }
}

ul.menu.secondary {
  margin: 0;

  a {
    padding: .5em;
  }

}

.flag {
  height: 0.9em;
  vertical-align: middle;
  width: 1.5em;
}

.hamburger {
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  padding: .5em;

  > svg {
    fill: @primaryColor;
    height: @iconSize;
    transition: @transition;
    width: @iconSize;

    &:hover {
      fill: lighten(@primaryColor, 20%);
    }
  }
}

.side-menu {
  align-items: stretch;
  background-color: @headerColor;
  box-sizing: border-box;
  color: @iconColor;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: .5em;
  position: fixed;
  right: 0;
  top: 0;
  width: 15em;
  z-index: 2000;

  .topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .spacing,
    svg {
      width: @iconSize;
      height: @iconSize;
    }
  }

  h3 {
    color: inherit;
    text-align: center;
    text-transform: uppercase;
  }

  svg {
    cursor: pointer;
    fill: darken(@iconColor, 20%);
    padding: .2em;
    transition: @transition;

    &:hover {
      fill: @iconColor;
      transform: rotateZ(90deg);
    }
  }

  ul.menu.aside {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
    }

    &.secondary {
      font-size: 1.0em;
      font-weight: 100;
    }
  }

  span.line {
    background-color: #444444;
    height: 1px;
    margin: .5em 1em;
  }
}

@media screen and (max-width: @mobileWidth) {
  body > header .menu {
    display: none;
  }

  .navigation > *:not(.hamburger) {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  .side-menu.open { // Side-menu is only displayed in mobile view
    display: flex;
  }
}
