main.home {
    text-align: center;

    > #ipBlock-introduction {
        align-items: center;

        background-color: @secondaryBackground;

        color: @textColor;

        margin: auto;
        max-width: @pageWidth;

        padding: .5em 0;

        width: 100%;

        h1,
        h2,
        h3 {
            color: @accentColor;
        }

        p {
            color: inherit;
        }

        .ipWidget {
            margin: 0;
        }
    }

    > .banner > .image-container {
        filter: brightness(100%);

        .image {
            background-attachment: fixed;
            background-position: center top;
        }
    }
}
