
.object {
    background-color: #FFF;
    border: 1px #EEE solid;
    border-radius: 2px;
    box-shadow: @boxShadow;
    box-sizing: border-box;

    height: auto;

    margin: auto;
    max-width: @moduleWidth;

    padding: 1em;
    position: relative;
}

.ipWidget.object {
    max-width: @moduleWidth;
}

.columns {
    align-items: center;
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    > * {
        flex: 1;
        flex-basis: 10em;
    }

  &.spaced > * {
    margin: 0.5em;
  }
}
