/* Edit theme.less, not this file. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700');
/**
 * Main less file. Mainly imports other bits and pieces.
 */
.clear {
  /* http://sonspring.com/journal/clearing-floats */
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix,
.ipWidget {
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  /*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
	*/
  zoom: 1;
}
.clearfix:before,
.ipWidget:before,
.clearfix:after,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after,
.ipWidget:after {
  clear: both;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.ipBlock {
  min-height: 10px;
  /* to create minimum height when block is empty */
}
.ipBlock.ipbEmpty {
  /* styles when block is empty */
  min-height: 30px;
  outline: #000 dashed 1px;
}
.ipBlock.ipbEmpty:hover {
  /* styles when block is empty */
  outline-color: #019bd4;
}
.ipBlock .ipbExampleContent {
  position: relative;
}
.ipBlock .ipbExampleContent:after {
  background-color: #e3e3e3;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.3;
  filter: alpha(opacity=30);
  top: 0;
  width: 100%;
}
.ipBlock .ipbExampleContent .ipWidget:hover {
  outline: none;
}
.ipBlock .ipbExampleContent .ipbDefault {
  color: #2f313f;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.ipBlock .ipbExampleContent .ipbUser {
  position: relative;
  margin-top: -50px;
  /* same height as .ipbDefault to show on top of it */
  min-height: 50px;
  /* same height as .ipbDefault to show on top of it */
}
.ipBlock .ipbExampleContent:hover .ipbDefault {
  visibility: visible;
}
.ipBlock .ipbExampleContent:hover .ipbUser {
  visibility: hidden;
}
.ipWidget-Columns ._col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 0.5em;
  position: relative;
}
@media screen and (max-width: 30rem) {
  .ipWidget-Columns ._col {
    float: none;
    margin-bottom: 1em;
    width: auto !important;
  }
  .ipWidget-Columns ._col:last-child {
    margin-bottom: 0;
  }
}
.ipWidget-Heading {
  margin: 2em 0 0;
}
.ipWidget-Heading:first-child {
  margin-top: 1em;
}
.form-group {
  margin-bottom: 20px;
}
.form-control,
.input-group {
  max-width: 380px;
}
textarea.form-control {
  font-family: inherit;
  height: 10em;
}
.progress {
  margin-bottom: 0;
}
.help-hint {
  display: none;
  font-size: small;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.form-group:hover .help-hint {
  display: block;
}
.help-error {
  display: none;
  font-size: small;
  max-width: 380px;
  padding: 4px 10px 2px;
  width: 100%;
}
.has-error .help-error {
  display: block;
}
.captcha img {
  display: block;
  max-width: 100%;
}
.form-group.type-blank {
  margin-bottom: 0;
}
.form-group.type-blank label {
  display: none;
}
.form-group.type-blank .help-error {
  margin-bottom: 20px;
}
.form-group.type-submit label {
  display: none;
}
._file {
  margin-top: 5px;
  max-width: 380px;
  min-height: 20px;
  padding: 0.5em;
  position: relative;
  word-wrap: break-word;
}
._file .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
._file .close:hover,
._file .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}
._file button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
._file ._error {
  font-size: small;
}
label {
  display: block;
}
.ipWidget-Text table,
.ipWidget-Text pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-Image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  /* to remove 3px space below the image (default rendering behavior) */
  max-width: 100%;
}
.ipWidget-Form {
  text-align: left;
}
.ipWidget-Form .ipwForm {
  max-width: 20em;
  margin: 0 auto;
}
.ipWidget-Form .ipwThankYou {
  /* mimicking the same styles as for form to keep message 'inside' the box */
  border: 0.2rem solid #009627;
  padding: 1em;
}
.ipWidget-Form .footer {
  position: relative;
  z-index: 2000;
  font-size: 80%;
  margin: -2em 0 2em;
  color: #666;
}
.ipWidget-Form fieldset {
  border: none;
}
.ipWidget-Text {
  margin-bottom: 2em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
/*
@import "less/ipContent/variables.less";
@import "less/ipContent/forms.less";
@import "less/ipContent/block.less";
@import "less/ipContent/breadcrumbs.less";

@import "less/ipContent/ipWidget/Divider.less";
@import "less/ipContent/ipWidget/File.less";
@import "less/ipContent/ipWidget/Form.less";
@import "less/ipContent/ipWidget/Gallery.less";
@import "less/ipContent/ipWidget/Html.less";
@import "less/ipContent/ipWidget/Image.less";
@import "less/ipContent/ipWidget/Missing.less";
@import "less/ipContent/ipWidget/Text.less";
@import "less/ipContent/ipWidget/Heading.less";
*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
@media (max-width: 30rem) {
  html {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #090575;
  font-weight: lighter;
  margin: 0 0.5em 0.5em;
  padding: 0;
}
p {
  margin: 0;
  padding: 0.5em 1em;
}
ul,
ol {
  margin: 1em 0;
}
li {
  margin: 0.5em 0;
}
.quote {
  display: block;
  border-left: 0.2rem solid #009627;
  padding: 0.5em;
  margin: 3em 10% 0.5em;
  font-style: italic;
  font-size: 120%;
}
.note {
  display: block;
}
.button,
button {
  box-sizing: border-box;
  background: white;
  border: 0.2rem solid #090575;
  padding: 0.5em;
  color: #090575;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
}
.button:hover,
button:hover {
  background: #090575;
  color: white;
}
.button a,
button a {
  color: inherit;
  text-decoration: inherit;
}
.button::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.button[disabled],
button[disabled],
.button .disabled,
button .disabled {
  background: #ccc;
  border-color: #ccc;
  color: black;
  cursor: default;
}
label {
  margin-top: 2em;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  background: none;
  border: none;
  border-bottom: 0.2rem solid #cccccc;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom-color: #090575;
}
.hoverable {
  transition: background 0.2s ease-out;
  background: white;
}
.hoverable:hover {
  background: #ccc;
}
.white-header {
  min-height: 3.5em;
  max-width: 60rem;
  border-bottom: 0.2em solid #090575;
  margin: 0 auto;
  padding: 0 0.5em;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 60rem) {
  .white-header.above {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
}
@media (max-width: 45rem) {
  .white-header {
    display: block;
    padding: 0;
  }
  .white-header .logo,
  .white-header .header-controls {
    margin: 0.2em;
    display: inline-block;
  }
  .white-header .header-controls {
    float: right;
  }
  .white-header nav {
    clear: both;
    margin-top: 0.5em;
    text-align: center;
  }
}
.logo {
  height: 2.5em;
  align-self: center;
}
.logo > img {
  height: 100%;
}
body.ipHasAdminPanel > header {
  position: static;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}
.menu li {
  display: inline-block;
  margin: 0;
}
.menu a {
  display: inline-block;
  padding: 0.5em;
  margin: 0;
  text-decoration: none;
  color: #090575;
  transition: background 0.2s ease-out;
  background: white;
}
.menu a:hover {
  background: #ccc;
}
.menu .active > a {
  background: #090575;
  color: white;
}
.flag {
  width: 1.5em;
  height: 0.9em;
  vertical-align: middle;
}
.language-dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  width: 10em;
  left: 0;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0.2rem solid #090575;
}
.language-dropdown li {
  display: block;
  margin: 0;
}
.language-dropdown a {
  display: block;
  text-decoration: none;
  padding: 0.2em;
  transition: background 0.2s ease-out;
  background: white;
}
.language-dropdown a:hover {
  background: #ccc;
}
.language-dropdown .active a {
  color: white;
  background: #090575;
}
header {
  display: block;
  background: #090575;
  position: relative;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  text-align: right;
}
header ul,
header li,
header button,
header span {
  display: inline-block;
  padding: 0;
  margin: 0.2em 0.5em;
  border: none;
  background: none;
}
header a,
header button {
  color: white;
  text-decoration: none;
}
header span {
  float: right;
}
footer {
  background: #090575;
  color: white;
  padding: 1em;
  text-align: center;
}
footer a {
  color: inherit;
}
footer .ipWidget-Text {
  margin: 0;
}
footer > div {
  display: flex;
  align-items: center;
  min-height: 3em;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
footer > div > * {
  flex: 1 1;
  margin: 1em;
}
footer > div > .logo {
  order: -1;
}
footer > div > .social {
  order: 1;
}
@media (max-width: 30rem) {
  footer > div {
    display: block;
  }
}
.article-image {
  margin: 0 auto;
  width: 100%;
  height: 40vw;
  background-size: 100% auto !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.article p {
  text-align: justify;
}
@media (min-width: 60rem) {
  .article article {
    margin: -10vw auto 0;
    padding: 1em 0;
    background: white;
    max-width: 60rem;
  }
}
.copyright {
  text-align: right;
  font-weight: bold;
  margin: 2em 0;
}
@media print {
  footer,
  .article-image {
    display: none;
  }
  header {
    position: static;
    float: right;
    border: none;
  }
  header nav,
  header .header-controls {
    display: none;
  }
  header img {
    height: 2em;
    margin-right: 1em;
  }
  body {
    font-size: 12px;
    font-family: 12pt Georgia, "Times New Roman", serif;
  }
  p {
    padding-left: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
  }
  h1 {
    font-size: 2em;
  }
}
.home-banner  {
  height: 50vh;
  width: 100%;
}
.home-splash {
  width: 100%;
  min-height: 20em;
  overflow: hidden;
  background-attachment: fixed;
}
.home-splash #ipBlock-splash {
  margin: 8em auto 4em;
  max-width: 45rem;
  background: white;
}
@media (max-width: 45rem) {
  .home-splash #ipBlock-splash {
    margin: 0;
  }
}
.home-splash > div {
  background: rgba(255, 255, 255, 0.3);
  max-width: 60rem;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 45rem) {
  .home-splash .ipWidget-Text {
    margin: 2em 0;
    font-size: 1.1em;
  }
}
.home-splash .ipWidget-Image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#ipBlock-banner {
  background: #090575;
  color: white;
  overflow: hidden;
  margin-bottom: 2em;
  text-align: left;
}
#ipBlock-banner h1,
#ipBlock-banner h2,
#ipBlock-banner h3,
#ipBlock-banner h4,
#ipBlock-banner h5,
#ipBlock-banner h6,
#ipBlock-banner a {
  color: white;
}
@media (min-width: 60rem) {
  #ipBlock-banner > .ipWidget {
    padding: 0 5rem;
  }
}
main.home {
  text-align: center;
}
.ipWidget-Image img {
  margin: 0 auto;
}
.main-image {
  margin: 0 auto;
  width: 100%;
  height: 30vw;
  background-size: 100% auto !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#ipBlock-main > .ipWidget.ipWidget-CoverImage {
  max-width: 100vw;
}
.cover {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4);
}
.box-container {
  max-width: 60rem;
  width: 100%;
  display: flex;
  margin: auto auto;
  padding: 4em 0;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  position: relative;
  min-height: 10em;
  min-width: 10em;
  padding: 2em;
  background: white;
  margin: 0.5em;
  max-width: 30rem;
  min-height: 5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  flex: 1 1 0;
}
.box .logo {
  width: 100%;
  max-width: 10em;
}
.ipWidget-Banner section {
  min-height: 8em;
  margin: 2em auto;
  padding: 1em;
  max-width: 48rem;
  overflow: hidden;
}
.ipWidget-Banner > section > img {
  width: 10em;
}
.ipWidget-Banner .ipWidget h1,
.ipWidget-Banner .ipWidget h2,
.ipWidget-Banner h1,
.ipWidget-Banner h2 {
  padding: 0;
}
.ipWidget-Banner p {
  padding-left: 3vw;
  font-weight: lighter;
  margin: 0;
}
.ipWidget-Banner .button {
  margin-top: 1em;
  float: right;
  clear: left;
}
.asd-blog-image {
  float: left;
  margin: 0.5em 1em;
}
@media (max-width: 30rem) {
  .asd-blog-image {
    float: none;
    text-align: center;
  }
}
.asdBlog-post {
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  padding: 1em;
  margin: 0 1em;
}
@media (max-width: 60rem) {
  .asdBlog-post {
    margin: 0.5em;
  }
}
.asdBlog-read-more {
  clear: left;
}
.asdBlog-read-more > a {
  box-sizing: border-box;
  background: white;
  border: 0.2rem solid #090575;
  padding: 0.5em;
  color: #090575;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
}
.asdBlog-read-more > a:hover {
  background: #090575;
  color: white;
}
.asdBlog-read-more > a a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-read-more > a::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-read-more > a[disabled],
.asdBlog-read-more > a .disabled {
  background: #ccc;
  border-color: #ccc;
  color: black;
  cursor: default;
}
.asdBlog-pagination a {
  box-sizing: border-box;
  background: white;
  border: 0.2rem solid #090575;
  padding: 0.5em;
  color: #090575;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
}
.asdBlog-pagination a:hover {
  background: #090575;
  color: white;
}
.asdBlog-pagination a a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-pagination a::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-pagination a[disabled],
.asdBlog-pagination a .disabled {
  background: #ccc;
  border-color: #ccc;
  color: black;
  cursor: default;
}
.asdBlog-pagination li.active {
  box-sizing: border-box;
  background: white;
  border: 0.2rem solid #090575;
  padding: 0.5em;
  color: #090575;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  background: #ccc;
  border-color: #ccc;
  color: black;
  cursor: default;
}
.asdBlog-pagination li.active:hover {
  background: #090575;
  color: white;
}
.asdBlog-pagination li.active a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-pagination li.active::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-pagination li.active[disabled],
.asdBlog-pagination li.active .disabled {
  background: #ccc;
  border-color: #ccc;
  color: black;
  cursor: default;
}
/**
 * Style for dropdown component.
 */
*[data-component="dropdown"] {
  position: relative;
}
*[data-component="dropdown"] .dropdown {
  display: none;
}
*[data-component="dropdown"].active .dropdown {
  display: block;
}
*[data-component="dropdown"].active button {
  background: #090575;
  color: white;
}
.ipWidget-Divider,
#ipBlock-main > .ipWidget-Divider {
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0;
  border-bottom: 0.2em solid #cccccc;
}
#ipBlock-main > .ipWidget,
main > .ipBlock > .ipWidget,
main > .ipWidget {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/*
@import "less/header.less";
@import "less/footer.less";
@import "less/general.less";
@import "less/button.less";

@import "less/Accordion.less";

// Custom settings
@pageWidth: 60em;


// Colors?
@frontColor1: #800080;
@frontColor2: #005000;

// Fontsw
@ipFontSize: 1rem;
@ipFontFamily: "Open Sans", sans-serif;
@ipFontFamilyHeadlines: @ipFontFamily;
@ipH1Color: @frontColor1;
@ipH2Color: @frontColor1;
@ipH3Color: @frontColor1;
@ipH1FontSize: 2.5em;
@ipH2FontSize: 1.75em;
@ipH3FontSize: 1.5em;

@ipButtonBgColor: @frontColor1;
@ipFormButtonBackground: @ipButtonBgColor;

*/
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22theme.less%22%2C%22global.less%22%2C%22block.less%22%2C%22Columns.less%22%2C%22Heading.less%22%2C%22forms.less%22%2C%22less%5C%2FipContent%5C%2FipWidget%5C%2FText.less%22%2C%22less%5C%2FipContent%5C%2FipWidget%5C%2FImage.less%22%2C%22Form.less%22%2C%22general.less%22%2C%22header.less%22%2C%22footer.less%22%2C%22article.less%22%2C%22home.less%22%2C%22main.less%22%2C%22CoverImage.less%22%2C%22Banner.less%22%2C%22AsdBlog.less%22%2C%22dropdown.less%22%2C%22divider.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22YAwGY%3B%3B%3B%3BACjGZ%3B%3BEACI%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%3BAAAW%3B%3B%3B%3B%3B%3BEAmBP%3B%3BAAlBA%2CSAAC%3BAAAD%2CSAAC%3BAAAS%2CSAAC%3BAAAD%2CSAAC%3BEACP%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CSAAC%3BAAAD%2CSAAC%3BEACG%3B%3BAAYR%3BEACI%3BEACA%3B%3BAAIJ%3BAAAM%3BEACF%3BEACA%3BEACA%3B%3BAChDJ%3BEACI%3B%3B%3BAAEJ%2CQAAQ%3B%3BEACJ%3BEACA%2CwBAAA%3B%3BAAEJ%2CQAAQ%2CSAAS%3B%3BEACb%3B%3BAAEJ%2CQAAS%3BEACL%3B%3BAAEJ%2CQAAS%2CmBAAkB%3BEACvB%3BEACA%2CSAAS%2CGAAT%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CyBAAA%3BEACA%3BEACA%3B%3BAAEJ%2CQAAS%2CmBAAmB%2CUAAS%3BEACjC%3B%3BAAEJ%2CQAAS%2CmBAAmB%3BEACxB%3BEACA%3BEACA%2CoBAAoB%2CuCAApB%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CQAAS%2CmBAAmB%3BEACxB%3BEACA%3B%3BEACA%3B%3B%3BAAEJ%2CQAAS%2CmBAAkB%2CMAAO%3BEAC9B%3B%3BAAEJ%2CQAAS%2CmBAAkB%2CMAAO%3BEAC9B%3B%3BAC%5C%2FCJ%2CiBAII%3BEACI%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CgBAAA%3BEACA%3B%3BAAWJ%2CmBAT%2BD%3BEAS%5C%2FD%2CiBAlBA%3BIAUQ%3BIACA%2CkBAAA%3BIACA%3B%3BEAEA%2CiBAdR%2CMAcS%3BIACG%3B%3B%3BACtBhB%3BEACC%2CeAAA%3B%3BAAEA%2CiBAAC%3BEACA%3B%3BACGF%3BEACI%2CmBAAA%3B%3BAAEJ%3BAACA%3BEACI%2CgBAAA%3B%3BAAEJ%2CQAAQ%3BEACJ%3BEACA%2CYAAA%3B%3BAAEJ%3BEACI%3B%3BAAIJ%3BEACI%3BEACA%3BEACA%2CqBAAA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CWAAW%2CMAAO%3BEACd%3B%3BAAEJ%3BEACI%3BEACA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%3B%3BAAEJ%2CUAAW%3BEACP%3B%3BAAEJ%2CQACI%3BEACI%3BEACA%3B%3BAAGR%2CWAAW%3BEACP%3B%3BAADJ%2CWAAW%2CWAEP%3BEACI%3B%3BAAHR%2CWAAW%2CWAKP%3BEACI%2CmBAAA%3B%3BAAGR%2CWAAW%2CYACP%3BEACI%3B%3BAAKR%3BEACI%2CeAAA%3BEACA%2CgBAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3B%3BAANJ%2CMAQI%3BEACI%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CyBAAA%3BEACA%3B%3BAAfR%2CMAiBI%2COAAM%3BAAjBV%2CMAkBI%2COAAM%3BEACF%3BEACA%3BEACA%3B%3BAArBR%2CMAuBI%2COAAM%3BEACF%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAA5BR%2CMA%2BBI%3BEACI%3B%3BAAIR%3BEACC%3B%3BACzGD%2CcACI%3BAADJ%2CcACW%3BEACH%3BEACA%3B%3BACHR%2CeACI%3BEACI%3BEACA%3BEACA%3BEACA%3B%3BEACA%3B%3BACNR%3BEACC%3B%3BAADD%2CcAGC%3BEACC%3BEACA%2CcAAA%3B%3BAALF%2CcAQI%3B%3BEACI%2C4BAAA%3BEACA%3B%3BAAVR%2CcAaC%3BEACC%3BEACA%3BEACA%3BEACA%2CkBAAA%3BEACA%3B%3BAAlBF%2CcAqBC%3BEACC%3B%3BARLF%3BEACC%3B%3BAAID%3BAAAQ%3BAAAO%3BAAAQ%3BEACtB%3BEACA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BASxBD%3BEACC%2CaAAa%2CuBAAb%3BEACA%3B%3BAAKD%2CQAHwC%3BEAGxC%3BIAFE%3B%3B%3BAAIF%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BEACnB%2CcAAA%3BEACA%3BEACA%2CqBAAA%3BEACA%3B%3BAAGD%3BEACC%3BEACA%2CkBAAA%3B%3BAAGD%3BAAAI%3BEACH%2CaAAA%3B%3BAAGD%3BEACC%2CeAAA%3B%3BAAID%3BEACI%3BEACH%2CiCAAA%3BEACA%3BEACA%2CqBAAA%3BEACA%3BEACA%3B%3BAAGD%3BEACI%3B%3BAAIJ%3BAACA%3BEAEC%3BEACA%3BEACA%2C4BAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3BEAEG%3BEACA%3B%3BAAEA%2COAAC%3BAAAD%2CMAAC%3BEACH%2CmBAAA%3BEACA%3B%3BAAhBF%2COAmBI%3BAAlBJ%2CMAkBI%3BEACI%3BEACN%3B%3BAAGD%2COAAC%3BAAAD%2CMAAC%3BEACA%3BEACA%3B%3BAAGD%2COAAC%3BAAAD%2CMAAC%3BAA7BF%2COA6Bc%3BAA5Bd%2CMA4Bc%3BEACZ%3BEACA%3BEACA%3BEACA%3B%3BAAIF%3BEACC%3B%3BAAGD%2CKAAK%3BAACL%2CKAAK%3BAACL%2CKAAK%3BAACL%2CKAAK%3BAACL%3BEACC%3BEACA%3BEACA%2CmCAAA%3B%3BAAEA%2CKATI%2CaASH%3BAAAD%2CKARI%2CiBAQH%3BAAAD%2CKAPI%2CeAOH%3BAAAD%2CKANI%2CcAMH%3BAAAD%2CQAAC%3BEACA%2C4BAAA%3B%3BAC3FF%3BEACC%2CoCAAA%3BEACA%3B%3BAAEA%2CUAAC%3BEACA%3B%3BAAIF%3BEACC%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CkCAAA%3BEACA%2CcAAA%3BEACA%2CgBAAA%3BEACA%3BEACA%3BEACA%2CsCAAA%3BEAEA%3BEACA%3BEACA%3B%3BAASA%2CQANgC%3BEAMhC%2CaAPC%3BIAEC%3BIACA%3BIACA%3BIACA%3B%3B%3BAAuBH%2CQAnByC%3BEAmBzC%3BIAlBE%3BIACA%3B%3BEAiBF%2CaAfE%3BEAeF%2CaAfS%3BIACN%3BIACA%3B%3BEAaH%2CaAVE%3BIACC%3B%3BEASH%2CaANE%3BIACC%3BIACA%3BIACA%3B%3B%3BAAKH%3BEACC%2CaAAA%3BEACA%3B%3BAAFD%2CKAIG%3BEACD%3B%3BAAKF%2CIAAI%2CgBAAmB%3BEACrB%3B%3BAAGF%3BEACC%3BEACA%3BEACA%3BEAEA%3B%3BAALD%2CKAQC%3BEACC%3BEACA%3B%3BAAVF%2CKAaC%3BEACC%3BEACA%2CcAAA%3BEACA%3BEACA%3BEACA%2CcAAA%3BEApFD%2CoCAAA%3BEACA%3B%3BAAEA%2CKA4EA%2CEA5EC%3BEACA%3B%3BAA8DF%2CKAuBC%2CQAAU%3BEACT%2CmBAAA%3BEACA%3B%3BAAIF%3BEACC%3BEACA%3BEACA%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2C4BAAA%3B%3BAAVD%2CkBAYC%3BEACC%3BEACA%3B%3BAAdF%2CkBAiBC%3BEACC%3BEACA%3BEACA%3BEAzHD%2CoCAAA%3BEACA%3B%3BAAEA%2CkBAmHA%2CEAnHC%3BEACA%3B%3BAAiGF%2CkBAyBC%2CQAAQ%3BEACP%3BEACA%2CmBAAA%3B%3BAAIF%3BEACC%3BEACA%2CmBAAA%3BEACA%3BEACA%2CsCAAA%3BEACA%3B%3BAALD%2CMAOC%3BAAPD%2CMAOK%3BAAPL%2CMAOS%3BAAPT%2CMAOiB%3BEACf%3BEACA%3BEACA%2CmBAAA%3BEACA%3BEACA%3B%3BAAZF%2CMAeC%3BAAfD%2CMAeI%3BEACF%3BEACA%3B%3BAAjBF%2CMAoBC%3BEACC%3B%3BAC7JF%3BEACC%2CmBAAA%3BEACA%3BEACA%3BEACA%3B%3BAAJD%2CMAMC%3BEACC%3B%3BAAPF%2CMAUC%3BEACC%3B%3BAAXF%2CMAcG%3BEACD%3BEACA%3BEAeA%3BEACA%2CgBAAA%3BEACA%3BEACA%2CcAAA%3B%3BAAlCF%2CMAcG%2CMAIC%3BEACD%2CSAAA%3BEACA%3B%3BAApBH%2CMAcG%2CMASC%3BEACD%3B%3BAAxBH%2CMAcG%2CMAaC%3BEACD%3B%3BAAWF%2CQAHwC%3BEAGxC%2CMAzBE%3BIAuBA%3B%3B%3BACrCH%3BEACC%2CcAAA%3BEACA%3BEACA%3BEACA%2CqCAAA%3BEACA%2C0BAAA%3BEACA%3BEACA%3B%3BAAGD%2CQACC%3BEACC%3B%3BAAUD%2CQANgC%3BEAMhC%2CQAPA%3BIAEE%2CoBAAA%3BIACA%2CcAAA%3BIACA%3BIACA%2CgBAAA%3B%3B%3BAAMH%3BEACC%3BEACA%3BEACA%2CaAAA%3B%3BAA0CD%3BEAtCC%3BEAAQ%3BIACP%3B%3BEAGD%3BIACC%3BIACA%3BIAMA%3B%3BEARD%2CMAIC%3BEAJD%2CMAIM%3BIACJ%3B%3BEALF%2CMAUC%3BIACC%3BIACA%3B%3BEAIF%3BIACC%3BIACA%2C2BAA2B%2CwBAA3B%3B%3BEAGD%3BIACC%3B%3BEAGD%3BEAAI%3BEAAI%3BEAAI%3BEAAI%3BEAAI%3BIACnB%3B%3BEAGD%3BIACC%3B%3B%3BACpEF%3BEACC%3BEACA%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3B%3BAAJD%2CYAMC%3BEACC%2CoBAAA%3BEACA%2CgBAAA%3BEACA%3B%3BAAKD%2CQAHyC%3BEAGzC%2CYARA%3BIAME%3B%3B%3BAAZH%2CYAgBG%3BEACD%2CoCAAA%3BEACA%2CgBAAA%3BEACA%3BEACA%3BEACA%2CcAAA%3B%3BAAQD%2CQAJyC%3BEAIzC%2CYALA%3BIAEE%2CaAAA%3BIACA%3B%3B%3BAA3BH%2CYA%2BBC%3BEACC%3BEACA%3BEACA%3B%3BAAIF%3BEACC%2CmBAAA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAALD%2CeAOC%3BAAPD%2CeAOK%3BAAPL%2CeAOS%3BAAPT%2CeAOa%3BAAPb%2CeAOiB%3BAAPjB%2CeAOqB%3BAAPrB%2CeAOyB%3BEACvB%3B%3BAAQF%2CQALgC%3BEAKhC%2CeAJI%3BIACD%2CeAAA%3B%3B%3BAAMH%2CIAAI%3BEACH%3B%3BAAGD%2CeAAgB%3BEACf%2CcAAA%3B%3BAClED%3BEACC%2CcAAA%3BEACA%3BEACA%3BEACA%2CqCAAA%3BEACA%2C0BAAA%3BEACA%3BEACA%3B%3BACND%2CaAAgB%2CYAAS%3BEACxB%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3BEACA%2C4CAAA%3B%3BAAGD%3BEACC%2CgBAAA%3BEACA%3BEACA%3BEACA%2CiBAAA%3BEACA%2CcAAA%3BEACA%2CoCAAA%3BEACA%3BEACA%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CgBAAA%3BEACA%3BEACA%2CsCAAA%3BEACA%2CWAAA%3B%3BAAVD%2CIAcC%3BEACC%3BEACA%3B%3BACzCF%2CgBAEC%3BEACC%3BEACA%2CgBAAA%3BEACA%3BEACA%2CgBAAA%3BEACA%3B%3BAAPF%2CgBAUG%2CUAAU%3BEACX%3B%3BAAXF%2CgBAcC%2CUAAU%3BAAdX%2CgBAeC%2CUAAU%3BAAfX%2CgBAgBC%3BAAhBD%2CgBAiBC%3BEACC%3B%3BAAlBF%2CgBAqBC%3BEACC%3BEACA%3BEACA%3B%3BAAxBF%2CgBA2BC%3BEACC%3BEACA%3BEACA%3B%3BAC9BF%3BEACC%3BEACA%2CiBAAA%3B%3BAAMD%2CQAJwC%3BEAIxC%3BIAHE%3BIACA%3B%3B%3BAAIF%3BEACC%3BEACA%2CgCAAA%3BEACA%3BEACA%2CaAAA%3B%3BAAKD%2CQAHgC%3BEAGhC%3BIAFE%3B%3B%3BAAIF%3BEACC%3B%3BAADD%2CkBAGG%3BERuBF%3BEACA%3BEACA%2C4BAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3BEAEG%3BEACA%3B%3BAAEA%2CkBQlCD%2CIRkCE%3BEACH%2CmBAAA%3BEACA%3B%3BAQvCF%2CkBAGG%2CIRuCC%3BEACI%3BEACN%3B%3BAAGD%2CkBQ5CE%2CIR4CD%3BEACA%3BEACA%3B%3BAAGD%2CkBQjDE%2CIRiDD%3BAQpDF%2CkBAGG%2CIRiDW%3BEACZ%3BEACA%3BEACA%3BEACA%3B%3BAQhDF%2CmBACC%3BERiBA%3BEACA%3BEACA%2C4BAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3BEAEG%3BEACA%3B%3BAAEA%2CmBQ5BH%2CER4BI%3BEACH%2CmBAAA%3BEACA%3B%3BAQ%5C%2FBF%2CmBACC%2CERiCG%3BEACI%3BEACN%3B%3BAAGD%2CmBQtCA%2CERsCC%3BEACA%3BEACA%3B%3BAAGD%2CmBQ3CA%2CER2CC%3BAQ5CF%2CmBACC%2CER2Ca%3BEACZ%3BEACA%3BEACA%3BEACA%3B%3BAQhDF%2CmBAKC%2CGAAE%3BERaF%3BEACA%3BEACA%2C4BAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3BEAEG%3BEACA%3BEAkBF%3BEACA%3BEACA%3BEACA%3B%3BAAnBE%2CmBQxBH%2CGAAE%2CORwBE%3BEACH%2CmBAAA%3BEACA%3B%3BAQ%5C%2FBF%2CmBAKC%2CGAAE%2COR6BC%3BEACI%3BEACN%3B%3BAAGD%2CmBQlCA%2CGAAE%2CORkCD%3BEACA%3BEACA%3B%3BAAGD%2CmBQvCA%2CGAAE%2CORuCD%3BAQ5CF%2CmBAKC%2CGAAE%2CORuCW%3BEACZ%3BEACA%3BEACA%3BEACA%3B%3B%3B%3B%3BASzEF%2CCAAC%3BEACA%3B%3BAADD%2CCAAC%2C2BAGA%3BEACC%3B%3BAAGD%2CCAPA%2C2BAOC%2COACA%3BEACC%3B%3BAAFF%2CCAPA%2C2BAOC%2COAKA%3BEACC%2CmBAAA%3BEACA%3B%3BAClBH%3BAACA%2CaAAgB%3BEACf%3BEACA%3BEACA%3BEACA%2CkCAAA%3B%3BAnB0DD%2CaAAgB%3BAAChB%2CIAAO%2CWAAW%3BAAClB%2CIAAO%3BEACN%2CgBAAA%3BEACA%3BEACA%3BEACA%22%7D */