/* Edit theme.less, not this file. */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');
/**
 * Main less file. Mainly imports other bits and pieces.
 */
.clear {
  /* http://sonspring.com/journal/clearing-floats */
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix,
.ipWidget {
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  /*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
	*/
  zoom: 1;
}
.clearfix:before,
.ipWidget:before,
.clearfix:after,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after,
.ipWidget:after {
  clear: both;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.ipBlock {
  min-height: 10px;
  /* to create minimum height when block is empty */
}
.ipBlock.ipbEmpty {
  /* styles when block is empty */
  min-height: 30px;
  outline: #000 dashed 1px;
}
.ipBlock.ipbEmpty:hover {
  /* styles when block is empty */
  outline-color: #019bd4;
}
.ipBlock .ipbExampleContent {
  position: relative;
}
.ipBlock .ipbExampleContent:after {
  background-color: #e3e3e3;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.3;
  filter: alpha(opacity=30);
  top: 0;
  width: 100%;
}
.ipBlock .ipbExampleContent .ipWidget:hover {
  outline: none;
}
.ipBlock .ipbExampleContent .ipbDefault {
  color: #2f313f;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.ipBlock .ipbExampleContent .ipbUser {
  position: relative;
  margin-top: -50px;
  /* same height as .ipbDefault to show on top of it */
  min-height: 50px;
  /* same height as .ipbDefault to show on top of it */
}
.ipBlock .ipbExampleContent:hover .ipbDefault {
  visibility: visible;
}
.ipBlock .ipbExampleContent:hover .ipbUser {
  visibility: hidden;
}
.ipWidget-Columns ._col {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 0.5em;
  position: relative;
}
@media screen and (max-width: 35rem) {
  .ipWidget-Columns ._col {
    float: none;
    margin-bottom: 1em;
    width: auto !important;
  }
  .ipWidget-Columns ._col:last-child {
    margin-bottom: 0;
  }
}
.ipWidget-Heading {
  margin: 0;
}
.ipWidget-Heading:first-child {
  margin-top: 1em;
}
.ipWidget-Heading + .ipWidget-Text {
  margin-top: 0;
}
.ipWidget-Heading + .ipWidget-Text .ipsContainer > p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.form-group {
  margin-bottom: 20px;
}
.form-control,
.input-group {
  max-width: 380px;
}
textarea.form-control {
  font-family: inherit;
  height: 10em;
}
.progress {
  margin-bottom: 0;
}
.help-hint {
  display: none;
  font-size: small;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.form-group:hover .help-hint {
  display: block;
}
.help-error {
  display: none;
  font-size: small;
  max-width: 380px;
  padding: 4px 10px 2px;
  width: 100%;
}
.has-error .help-error {
  display: block;
}
.captcha img {
  display: block;
  max-width: 100%;
}
.form-group.type-blank {
  margin-bottom: 0;
}
.form-group.type-blank label {
  display: none;
}
.form-group.type-blank .help-error {
  margin-bottom: 20px;
}
.form-group.type-submit label {
  display: none;
}
._file {
  margin-top: 5px;
  max-width: 380px;
  min-height: 20px;
  padding: 0.5em;
  position: relative;
  word-wrap: break-word;
}
._file .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
._file .close:hover,
._file .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}
._file button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
._file ._error {
  font-size: small;
}
label {
  display: block;
}
.ipWidget-Text table,
.ipWidget-Text pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-Image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  /* to remove 3px space below the image (default rendering behavior) */
  max-width: 100%;
}
.ipWidget-Form {
  display: flex;
  text-align: left;
}
.ipWidget-Form .ipwForm {
  box-sizing: border-box;
  margin: 0 auto;
}
.ipWidget-Form .ipwThankYou {
  /* mimicking the same styles as for form to keep message 'inside' the box */
  align-items: center;
  border: 0.2rem solid #009627;
  display: flex;
  padding: 1em;
}
.ipWidget-Form .footer {
  color: #666;
  font-size: 0.8em;
  position: relative;
  z-index: 10;
}
.form-section {
  align-items: center;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-group {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0.5em;
}
.help-error {
  color: #e57373;
}
.type-textarea {
  flex-basis: 100%;
}
.type-textarea textarea {
  max-width: none;
}
@media (max-width: 35rem) {
  .form-group {
    flex-basis: 20em;
  }
}
form {
  display: block;
  margin: auto;
  max-width: 40rem;
  width: 100%;
}
form .form-group.type-info {
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 0 0 .5em;
}
form .live-helper {
  display: none;
}
form .form-group {
  box-sizing: border-box;
}
fieldset {
  box-sizing: border-box;
  border: 0;
}
form.vertical {
  display: block;
  margin: auto;
}
form.vertical .form-section {
  display: block;
}
form.vertical .form-section > legend {
  box-sizing: border-box;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
form.vertical .form-group.type-checkbox {
  display: flex;
}
form.vertical .form-group.type-checkbox input {
  margin-left: 1em;
}
form.horizontal {
  display: block;
}
form.horizontal fieldset,
form.horizontal .footer {
  display: block;
}
form.horizontal fieldset > .form-group {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  max-width: 12em;
}
form.horizontal input:invalid + .help-error {
  display: none;
}
form.horizontal input:invalid + .help-error:before {
  content: '';
}
form.mailchimp-subscription fieldset {
  width: 100%;
  padding: 0;
}
form.mailchimp-subscription fieldset > .form-group.type-submit,
form.mailchimp-subscription fieldset > .form-group.type-email {
  display: block;
  clear: both;
  max-width: none;
}
form.mailchimp-subscription fieldset > .form-group.type-text {
  max-width: 45%;
}
form.mailchimp-subscription fieldset > .form-group.name-lastName {
  float: right;
}
@media screen and (max-width: 30em) {
  form.mailchimp-subscription fieldset > .form-group {
    display: block;
    float: none;
  }
  form.mailchimp-subscription fieldset > .form-group.type-text,
  form.mailchimp-subscription fieldset > .form-group.name-lastName {
    max-width: none;
    float: none;
  }
}
.ipWidget-File ul {
  list-style: none;
}
.ipWidget-File a::before {
  color: white;
  background: #5c6bc0;
  display: inline-block;
  margin: 0 0.5em;
  width: 2.5em;
  vertical-align: middle;
  text-align: center;
  font-size: 0.7em;
  content: '';
}
.ipWidget-File a[href$=".pdf"]::before {
  content: 'PDF';
}
.ipWidget-File a[href$=".doc"]::before,
.ipWidget-File a[href$=".docx"]::before {
  content: 'DOC';
}
.ipWidget-File a[href$=".ppt"]::before,
.ipWidget-File a[href$=".pptx"]::before {
  content: 'DOC';
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
/*
@import "less/ipContent/variables.less";
@import "less/ipContent/forms.less";
@import "less/ipContent/block.less";
@import "less/ipContent/breadcrumbs.less";

@import "less/ipContent/ipWidget/Divider.less";
@import "less/ipContent/ipWidget/File.less";
@import "less/ipContent/ipWidget/Form.less";
@import "less/ipContent/ipWidget/Gallery.less";
@import "less/ipContent/ipWidget/Html.less";
@import "less/ipContent/ipWidget/Image.less";
@import "less/ipContent/ipWidget/Missing.less";
@import "less/ipContent/ipWidget/Text.less";
@import "less/ipContent/ipWidget/Heading.less";
*/
html {
  color: rgba(26, 26, 26, 0.7);
  font-family: "Lato", Arial, sans-serif;
}
@media (max-width: 35rem) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: #fafafa;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5c6bc0;
  font-weight: lighter;
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0.5em 0;
}
p.centered {
  text-align: center;
}
a {
  color: #ef5350;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #f3817f;
  text-decoration: underline;
}
a:active {
  color: #ef5350;
}
a:visited {
  color: #eb2521;
}
ul,
ol {
  margin: 1em;
}
li {
  margin: 0.5em 0;
}
date {
  font-style: italic;
}
small.description {
  display: block;
  text-align: center;
  font-size: 1.0em;
  font-weight: 100;
}
blockquote,
.quote {
  background-color: #ffffff;
  border-left: 0.2rem solid #ef5350;
  color: rgba(26, 26, 26, 0.7);
  display: block;
  font-size: 1.2em;
  font-style: italic;
  padding: 0.5em;
  text-align: left;
}
.note {
  display: block;
}
label {
  font-size: 0.9em;
  font-weight: 100;
}
input {
  padding: .2em;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  background: #ffffff;
  border: none;
  border-bottom: 0.2rem solid #cccccc;
  box-sizing: border-box;
  max-width: none;
  width: 100%;
}
input[type="text"] + .help-error,
input[type="password"] + .help-error,
input[type="number"] + .help-error,
input[type="email"] + .help-error,
textarea + .help-error {
  display: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #5c6bc0;
}
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
  border-bottom-color: #e57373;
}
input[type="text"]:valid,
input[type="password"]:valid,
input[type="number"]:valid,
input[type="email"]:valid,
textarea:valid {
  border-bottom-color: #66bb6a;
}
input[type="email"]:invalid + .help-error {
  display: inline;
}
input[type="email"]:invalid + .help-error:before {
  content: "The form requires a valid email address";
}
input[type="password"]:invalid + .help-error {
  display: inline;
}
input[type="password"]:invalid + .help-error:before {
  content: "The form requires a valid password";
}
.big {
  margin: 3em 0.5em;
  font-size: 1.6em;
  font-weight: lighter;
  color: #ef5350;
}
.horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 40rem !important;
  width: 100%;
}
.horizontal > * {
  flex: 1;
  flex-basis: 15em;
}
div.spacing {
  background-color: #212121;
  color: #FFF;
  height: 20px;
  text-align: center;
  width: 100%;
}
.center {
  text-align: center;
}
.hoverable {
  transition: all 0.2s ease;
}
.hoverable:hover {
  border-bottom-color: #CCC;
}
header {
  align-items: stretch;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.1) 0.05em 0.05em 0.2em;
  box-sizing: border-box;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
header nav {
  font-size: 1rem;
}
@media (min-width: 70rem) {
  header.above {
    left: 0;
    max-width: 70rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}
header ul,
header li,
header button,
header span {
  display: inline-block;
  padding: 0;
  margin: 0.2em 0.5em 0.4em;
  border: none;
  background: none;
}
header a,
header button {
  color: #5c6bc0;
  text-decoration: none;
}
header .navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
a.logo {
  align-items: center;
  background-color: #5c6bc0;
  display: flex;
  justify-content: flex-start;
  padding: .5em 1em;
}
a.logo > img {
  height: 100%;
}
a.logo svg {
  fill: #ffffff;
}
a.logo h1 {
  color: #ffffff;
  font-size: 3em;
}
a.logo:hover {
  background-color: #6e7cc7;
  text-decoration: none;
}
a.logo:hover svg,
a.logo:hover h1 {
  color: #ffffff;
  fill: #ffffff;
}
body.ipHasAdminPanel > header {
  position: static;
}
ul.menu li {
  margin: 0;
}
ul.menu a {
  color: #5c6bc0;
  font-weight: 400;
}
ul.menu a:hover {
  text-decoration: none;
}
ul.menu .active > a {
  font-weight: 800;
}
ul.menu + nav {
  margin-top: .2em;
}
ul.menu.secondary {
  margin: 0;
}
ul.menu.secondary a {
  padding: .5em;
}
ul.menu.primary {
  align-self: flex-end;
  margin: 0;
}
ul.menu.primary a {
  transition: all 0.2s ease;
  border-bottom: transparent solid 1px;
  display: inline-block;
  padding: .2em .5em;
  text-decoration: none;
}
ul.menu.primary a:hover {
  border-bottom-color: #CCC;
}
ul.menu.primary .active > a {
  border-bottom-color: #5c6bc0;
}
.flag {
  height: 0.9em;
  vertical-align: middle;
  width: 1.5em;
}
.hamburger {
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  padding: .5em;
}
.hamburger > svg {
  fill: #5c6bc0;
  height: 45px;
  transition: all 0.2s ease;
  width: 45px;
}
.hamburger > svg:hover {
  fill: #a6aedc;
}
.side-menu {
  align-items: stretch;
  background-color: #1f1f1f;
  box-sizing: border-box;
  color: #ffffff;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: .5em;
  position: fixed;
  right: 0;
  top: 0;
  width: 15em;
  z-index: 2000;
}
.side-menu .topbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.side-menu .topbar .spacing,
.side-menu .topbar svg {
  width: 45px;
  height: 45px;
}
.side-menu h3 {
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}
.side-menu svg {
  cursor: pointer;
  fill: #cccccc;
  padding: .2em;
  transition: all 0.2s ease;
}
.side-menu svg:hover {
  fill: #ffffff;
  transform: rotateZ(90deg);
}
.side-menu ul.menu.aside {
  font-size: 1.2em;
  list-style-type: none;
  margin: 0;
}
.side-menu ul.menu.aside a {
  color: inherit;
  text-decoration: none;
}
.side-menu ul.menu.aside.secondary {
  font-size: 1.0em;
  font-weight: 100;
}
.side-menu span.line {
  background-color: #444;
  height: 1px;
  margin: .5em 1em;
}
@media screen and (max-width: 35rem) {
  .navigation > *:not(.hamburger) {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .side-menu.open {
    display: flex;
  }
}
footer {
  background: #1f1f1f;
  color: white;
  padding: 1em;
  text-align: center;
}
footer a {
  color: inherit;
}
footer .ipWidget-Text {
  margin: 0;
}
footer > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 70rem;
  min-height: 3em;
  width: 100%;
}
footer > div > * {
  flex: 1 1;
  margin: 1em;
}
footer > div > .logo {
  order: -1;
}
@media (max-width: 35rem) {
  footer > div {
    display: block;
  }
}
em.price-tiled,
strong.price-tiled {
  width: 100%;
  text-align: center;
}
ul.tiled {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-flow: row dense;
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}
@media screen and (max-width: 35em) {
  ul.tiled {
    grid-template-columns: repeat(1, 1fr);
  }
}
ul.tiled > li {
  background-color: #FFF;
  height: 25em;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}
ul.tiled .metadata {
  display: block;
  flex: 0 0 11em;
  height: 10em;
  position: relative;
}
ul.tiled .thumbnail {
  filter: brightness(75%);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
ul.tiled .thumbnail > img {
  width: 100%;
}
ul.tiled .thumbnail.blurred > img {
  filter: blur(2px) brightness(75%);
}
ul.tiled .price-tiled {
  color: #FFF;
  font-size: 2.2em;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
ul.tiled h3 {
  padding-top: .4em;
  text-align: center;
}
ul.tiled .description {
  box-sizing: border-box;
  max-height: 20%;
  padding: 0 .5em;
}
ul.tiled a {
  background-color: #5c6bc0;
  border: 0;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  margin-top: auto;
  padding: 1em;
  text-align: center;
}
ul.tiled a:hover {
  background-color: #6e7cc7;
}
ul.shadowed > li {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0.05em 0.05em 0.2em;
  overflow: hidden;
  transition: all 0.2s ease;
}
ul.shadowed > li:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0.05em 0.05em 0.2em;
}
ul.x-breadcrumbs {
  background-color: #FFF;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  list-style-type: none;
  margin: 0;
  padding: .2em .5em;
}
ul.x-breadcrumbs > li ~ li:before {
  content: "/";
  font-weight: 400;
  padding: 0 0.3em;
}
ul.x-breadcrumbs > li.currentPage > a {
  font-weight: 100;
}
ul.x-breadcrumbs > li.currentPage:hover {
  text-decoration: none;
  cursor: default;
}
ul.x-breadcrumbs > li:last-child:after {
  content: "/";
}
ul.x-breadcrumbs a {
  padding: 0;
  text-decoration: none;
}
ul.x-breadcrumbs a:hover {
  text-decoration: underline;
}
.button,
button {
  background: #5c6bc0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.2s ease;
}
.button:focus,
button:focus {
  outline: none;
}
.button:hover,
button:hover {
  background: #6e7cc7;
  color: white;
  text-decoration: none;
}
.button:visited,
button:visited {
  color: #ffffff;
}
.button a,
button a {
  color: inherit;
  text-decoration: inherit;
}
.button::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.button[disabled],
button[disabled],
.button .disabled,
button .disabled {
  background: #ccc;
  border-color: #ccc;
  color: rgba(52, 52, 52, 0.7);
  cursor: default;
}
.button[type="submit"],
button[type="submit"] {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}
.button[name='delete'],
button[name='delete'],
.button.dangerous,
button.dangerous {
  background-color: #ef5350;
}
.button[name='delete']:hover,
button[name='delete']:hover,
.button.dangerous:hover,
button.dangerous:hover {
  background-color: #f3817f;
}
.button.delete-user,
button.delete-user {
  width: 100%;
}
.button.colored {
  color: #FFF;
}
.button.login {
  background-color: #5c6bc0;
  border: 0;
  color: #FFF;
  margin: 0;
  padding: .5em;
}
.button.login:hover {
  background-color: #a6aedc;
}
.paypal-autorendered {
  border: 0;
  display: flex;
  font-size: 0.8em;
  width: 100%;
  justify-content: center;
  padding: 0 !important;
  vertical-align: middle;
  text-align: center;
}
.paypal-autorendered .xcomponent {
  width: 100%;
  max-width: 17em;
}
.paypal {
  align-items: center;
  background-color: #3b7bbf;
  /* The light PayPal-color */
  border: 0;
  color: #FFF;
  display: inline-flex;
  font-size: 0.8em;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.paypal:hover {
  background-color: #3F83CC;
}
.paypal > svg {
  margin-right: .5em;
}
.article p:not(.centered) {
  text-align: justify;
}
.article article {
  background: #fafafa;
  box-sizing: border-box;
  margin: auto;
  max-width: 70rem;
  padding: 1em;
}
.copyright {
  text-align: right;
  font-weight: bold;
  margin: 2em 0;
}
@media print {
  footer,
  .article-image {
    display: none;
  }
  header {
    position: static;
    float: right;
    border: none;
  }
  header nav,
  header .header-controls {
    display: none;
  }
  header img {
    height: 2em;
    margin-right: 1em;
  }
  body {
    font-size: 12px;
    font-family: 12pt Georgia, "Times New Roman", serif;
  }
  p {
    padding-left: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
  }
  h1 {
    font-size: 2em;
  }
}
main.home {
  text-align: center;
}
main.home > #ipBlock-introduction {
  align-items: center;
  background-color: #fafafa;
  color: rgba(26, 26, 26, 0.7);
  margin: auto;
  max-width: 70rem;
  padding: .5em 0;
  width: 100%;
}
main.home > #ipBlock-introduction h1,
main.home > #ipBlock-introduction h2,
main.home > #ipBlock-introduction h3 {
  color: #ef5350;
}
main.home > #ipBlock-introduction p {
  color: inherit;
}
main.home > #ipBlock-introduction .ipWidget {
  margin: 0;
}
.home-splash {
  align-items: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1em;
  min-height: 40vh;
  overflow: hidden;
  position: relative;
}
.home-splash #ipBlock-splash {
  background: #fafafa;
  margin: 8em auto 4em;
  max-width: 52.5rem;
}
@media (max-width: 52.5rem) {
  .home-splash #ipBlock-splash {
    margin: 0;
  }
}
@media (min-width: 52.5rem) {
  .home-splash .ipWidget-Text {
    font-size: 1.1em;
    margin: 2em 0;
  }
}
.home-splash .ipWidget-Image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#ipBlock-promotion {
  background: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  font-size: 1.1em;
  margin: 3em 0 2em;
  max-width: 52.5rem;
}
.ipWidget-Image img {
  margin: 0 auto;
}
.main-image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100% !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.cover-image {
  height: 20em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cover-image.blurred > .main-image {
  background-size: auto 120% !important;
  filter: blur(40px) brightness(90%);
  left: -10%;
  top: -5%;
  width: 120%;
}
main > #ipBlock-main {
  box-sizing: border-box;
  padding: 1em;
}
@media screen and (max-width: 40em) {
  .cover-image {
    height: 14em;
  }
}
.tracks-cover {
  background-color: #EFEFEF;
}
.tracks-cover h1 {
  margin: .5em 0 .5em;
  text-align: center;
}
.tracks-cover .cover-image {
  align-items: center;
  background-position: center;
  display: flex;
  height: 25em;
  justify-content: center;
  position: relative;
  width: 100%;
}
.tracks-cover .cover-image h1 {
  margin: auto;
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.2) 0.05em 0.05em 0.2em;
}
.tracks-cover .cover-image.blurred {
  filter: grayscale(0.3);
}
@media screen and (max-width: 30rem) {
  .tracks-cover .cover-image {
    height: 10em;
  }
}
.tracks-cover article {
  box-sizing: border-box;
  padding: 1em;
  margin: auto;
  max-width: 70rem;
}
.tracks-cover .metadata {
  align-items: center;
  border-radius: 2px;
  color: #212121;
  display: flex;
  flex-wrap: wrap;
  flex: 5em;
  justify-content: space-between;
  min-height: 1em;
  overflow: hidden;
}
.tracks-cover .metadata > * {
  box-sizing: border-box;
  flex: 1 0 10em;
  font-size: 1.1em;
  padding: .5em;
  margin: 0;
  text-align: center;
}
.tracks-cover .metadata .price,
.tracks-cover .metadata .continue {
  font-style: normal;
  font-weight: 100;
}
.tracks-cover .metadata .price {
  align-self: baseline;
  background-color: #FFF;
  font-style: normal;
  font-weight: 100;
  padding: .5em;
  text-align: center;
}
.tracks-cover .metadata .button.login {
  align-self: baseline;
}
.tracks-cover .metadata .continue {
  background-color: #C5E1A5;
  border: 0;
  font-weight: 800;
}
main.profile h1,
main.profile h2,
main.profile h1 + p,
main.profile h2 + p {
  text-align: center;
}
main.contact h1,
main.contact h2 {
  text-align: center;
}
#ipBlock-main > .ipWidget.ipWidget-CoverImage {
  max-width: 100vw;
}
.cover {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4);
}
.box-container {
  max-width: 70rem;
  width: 100%;
  display: flex;
  margin: auto auto;
  padding: 4em 0;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  position: relative;
  min-width: 10em;
  padding: 2em;
  background: white;
  margin: 0.5em;
  max-width: 35rem;
  min-height: 5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  flex: 1 1 0;
}
.box .logo {
  width: 100%;
  max-width: 10em;
}
.box .button {
  font-size: 2em;
}
.banner {
  min-height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner .image-container {
  filter: brightness(80%);
  height: 20em;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.banner .image-container.darkest {
  filter: brightness(60%);
}
.banner .image-container.blurred > * {
  background-size: auto 120% !important;
  filter: blur(40px) brightness(90%);
  left: -10%;
  top: -5%;
  width: 120%;
}
.banner .image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background: no-repeat center;
  overflow: hidden;
}
@media screen and (max-width: 35rem) {
  .banner {
    min-height: 30vh;
  }
}
#ipBlock-banner {
  background-color: transparent;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
}
#ipBlock-banner h1,
#ipBlock-banner h2,
#ipBlock-banner h3,
#ipBlock-banner p {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#ipBlock-banner h1,
#ipBlock-banner h2,
#ipBlock-banner h3 {
  font-size: 3em;
}
#ipBlock-banner p {
  font-size: 1.5em;
  font-weight: 100;
}
#ipBlock-banner .ipWidget {
  margin: 0;
}
@media screen and (max-width: 35rem) {
  #ipBlock-banner h1,
  #ipBlock-banner h2,
  #ipBlock-banner h3 {
    margin-top: .5em;
    font-size: 2.5em;
  }
  #ipBlock-banner p {
    font-size: 1em;
  }
}
.asd-blog-image {
  float: left;
  margin: 0.5em 1em;
}
@media (max-width: 35rem) {
  .asd-blog-image {
    float: none;
    text-align: center;
  }
}
.asdBlog-post {
  margin: 0;
  overflow: hidden;
  padding: 1em 0;
}
.asdBlog-post ~ .asdBlog-post {
  border-top: 1px solid #CCC;
}
.asdBlog-read-more {
  clear: left;
}
.asdBlog-read-more > a {
  background: #5c6bc0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.2s ease;
}
.asdBlog-read-more > a:focus {
  outline: none;
}
.asdBlog-read-more > a:hover {
  background: #6e7cc7;
  color: white;
  text-decoration: none;
}
.asdBlog-read-more > a:visited {
  color: #ffffff;
}
.asdBlog-read-more > a a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-read-more > a::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-read-more > a[disabled],
.asdBlog-read-more > a .disabled {
  background: #ccc;
  border-color: #ccc;
  color: rgba(52, 52, 52, 0.7);
  cursor: default;
}
.asdBlog-read-more > a[type="submit"] {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}
.asdBlog-read-more > a[name='delete'],
.asdBlog-read-more > a.dangerous {
  background-color: #ef5350;
}
.asdBlog-read-more > a[name='delete']:hover,
.asdBlog-read-more > a.dangerous:hover {
  background-color: #f3817f;
}
.asdBlog-read-more > a.delete-user {
  width: 100%;
}
.asdBlog-pagination a {
  background: #5c6bc0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.2s ease;
}
.asdBlog-pagination a:focus {
  outline: none;
}
.asdBlog-pagination a:hover {
  background: #6e7cc7;
  color: white;
  text-decoration: none;
}
.asdBlog-pagination a:visited {
  color: #ffffff;
}
.asdBlog-pagination a a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-pagination a::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-pagination a[disabled],
.asdBlog-pagination a .disabled {
  background: #ccc;
  border-color: #ccc;
  color: rgba(52, 52, 52, 0.7);
  cursor: default;
}
.asdBlog-pagination a[type="submit"] {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}
.asdBlog-pagination a[name='delete'],
.asdBlog-pagination a.dangerous {
  background-color: #ef5350;
}
.asdBlog-pagination a[name='delete']:hover,
.asdBlog-pagination a.dangerous:hover {
  background-color: #f3817f;
}
.asdBlog-pagination a.delete-user {
  width: 100%;
}
.asdBlog-pagination li.active {
  background: #5c6bc0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.2s ease;
  background: #ccc;
  border-color: #ccc;
  color: rgba(52, 52, 52, 0.7);
  cursor: default;
}
.asdBlog-pagination li.active:focus {
  outline: none;
}
.asdBlog-pagination li.active:hover {
  background: #6e7cc7;
  color: white;
  text-decoration: none;
}
.asdBlog-pagination li.active:visited {
  color: #ffffff;
}
.asdBlog-pagination li.active a {
  color: inherit;
  text-decoration: inherit;
}
.asdBlog-pagination li.active::-moz-focus-inner {
  padding: 0 !important;
  border: none !important;
}
.asdBlog-pagination li.active[disabled],
.asdBlog-pagination li.active .disabled {
  background: #ccc;
  border-color: #ccc;
  color: rgba(52, 52, 52, 0.7);
  cursor: default;
}
.asdBlog-pagination li.active[type="submit"] {
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}
.asdBlog-pagination li.active[name='delete'],
.asdBlog-pagination li.active.dangerous {
  background-color: #ef5350;
}
.asdBlog-pagination li.active[name='delete']:hover,
.asdBlog-pagination li.active.dangerous:hover {
  background-color: #f3817f;
}
.asdBlog-pagination li.active.delete-user {
  width: 100%;
}
.ipWidget-Disqus > div {
  margin: 1em;
}
.ipWidget-ShareButtons {
  text-align: center;
}
.ipWidget-ShareButtons a {
  text-decoration: none;
}
.socialshare {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: auto auto;
  max-width: 40em;
  padding: 0 1em .5em;
  width: 100%;
}
.socialshare.thin {
  margin: .5em auto;
  padding: 0;
}
.socialshare.thin a,
.socialshare.thin a > svg {
  height: 20px;
}
.socialshare.thin a {
  border-radius: 2px;
  padding: .5em 2em .5em 2em;
}
.socialshare li {
  margin: 0;
}
.socialshare > li ~ li {
  /* Ensure spacing between elements */
  margin-left: .5em;
}
.socialshare a,
.socialshare a > svg {
  height: 30px;
}
.socialshare a {
  background-color: #AAA;
  display: block;
  height: 30px;
  padding: .5em 5em .5em .5em;
  transition: all .2s ease;
}
.socialshare svg path {
  fill: #ffffff;
}
a.share-facebook {
  background-color: #3b5998;
}
a.share-facebook:hover {
  background-color: #314A7E;
}
a.share-linkedin {
  background-color: #3A96C2;
}
a.share-linkedin:hover {
  background-color: #007BB6;
}
.notifier {
  align-items: center;
  background-color: #CCC;
  box-shadow: rgba(0, 0, 0, 0.1) 0.05em 0.05em 0.2em;
  box-sizing: border-box;
  color: #FFF;
  display: none;
  height: 3em;
  justify-content: center;
  left: 0;
  padding: .5em;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  transition: all .5s ease;
  z-index: 1000;
}
.notifier.success {
  background-color: #388E3C;
  display: flex;
}
.notifier.error {
  background-color: #e57373;
  display: flex;
}
/**
 * Style for dropdown component.
 */
*[data-component="dropdown"] {
  position: relative;
}
*[data-component="dropdown"] .dropdown {
  display: none;
}
*[data-component="dropdown"].active .dropdown {
  display: block;
}
*[data-component="dropdown"].active button {
  background: #5c6bc0;
  color: white;
}
.ipWidget-Divider,
#ipBlock-main > .ipWidget-Divider {
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0;
  border-bottom: 0.2em solid #cccccc;
}
#ipBlock-main > .ipWidget,
main > .ipBlock > .ipWidget,
main > .ipWidget {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/*
@import "less/header.less";
@import "less/footer.less";
@import "less/general.less";


@import "less/Accordion.less";

// Custom settings
@pageWidth: 60em;


// Colors?
@frontColor1: #800080;
@frontColor2: #005000;

// Fontsw
@ipFontSize: 1rem;
@ipFontFamily: "Open Sans", sans-serif;
@ipFontFamilyHeadlines: @ipFontFamily;
@ipH1Color: @frontColor1;
@ipH2Color: @frontColor1;
@ipH3Color: @frontColor1;
@ipH1FontSize: 2.5em;
@ipH2FontSize: 1.75em;
@ipH3FontSize: 1.5em;

@ipButtonBgColor: @frontColor1;
@ipFormButtonBackground: @ipButtonBgColor;

*/
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22theme.less%22%2C%22global.less%22%2C%22block.less%22%2C%22Columns.less%22%2C%22Heading.less%22%2C%22forms.less%22%2C%22less%5C%2FipContent%5C%2FipWidget%5C%2FText.less%22%2C%22less%5C%2FipContent%5C%2FipWidget%5C%2FImage.less%22%2C%22Form.less%22%2C%22File.less%22%2C%22general.less%22%2C%22header.less%22%2C%22footer.less%22%2C%22list.less%22%2C%22button.less%22%2C%22article.less%22%2C%22home.less%22%2C%22main.less%22%2C%22tracks.less%22%2C%22profile.less%22%2C%22contact.less%22%2C%22CoverImage.less%22%2C%22Banner.less%22%2C%22AsdBlog.less%22%2C%22Disqus.less%22%2C%22SocialShare.less%22%2C%22notifier.less%22%2C%22dropdown.less%22%2C%22divider.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22YAgHY%3B%3B%3B%3BACzGZ%3B%3BEACI%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%3BAAAW%3B%3B%3B%3B%3B%3BEAmBP%3B%3BAAlBA%2CSAAC%3BAAAD%2CSAAC%3BAAAS%2CSAAC%3BAAAD%2CSAAC%3BEACP%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CSAAC%3BAAAD%2CSAAC%3BEACG%3B%3BAAYR%3BEACI%3BEACA%3B%3BAAIJ%3BAAAM%3BEACF%3BEACA%3BEACA%3B%3BAChDJ%3BEACI%3B%3B%3BAAEJ%2CQAAQ%3B%3BEACJ%3BEACA%2CwBAAA%3B%3BAAEJ%2CQAAQ%2CSAAS%3B%3BEACb%3B%3BAAEJ%2CQAAS%3BEACL%3B%3BAAEJ%2CQAAS%2CmBAAkB%3BEACvB%3BEACA%2CSAAS%2CGAAT%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CyBAAA%3BEACA%3BEACA%3B%3BAAEJ%2CQAAS%2CmBAAmB%2CUAAS%3BEACjC%3B%3BAAEJ%2CQAAS%2CmBAAmB%3BEACxB%3BEACA%3BEACA%2CoBAAoB%2CuCAApB%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CQAAS%2CmBAAmB%3BEACxB%3BEACA%3B%3BEACA%3B%3B%3BAAEJ%2CQAAS%2CmBAAkB%2CMAAO%3BEAC9B%3B%3BAAEJ%2CQAAS%2CmBAAkB%2CMAAO%3BEAC9B%3B%3BAC%5C%2FCJ%2CiBAII%3BEACI%3BEACA%3BEACA%3BEACA%2CgBAAA%3BEACA%3B%3BAAWJ%2CmBAT%2BD%3BEAS%5C%2FD%2CiBAhBA%3BIAQQ%3BIACA%2CkBAAA%3BIACA%3B%3BEAEA%2CiBAZR%2CMAYS%3BIACG%3B%3B%3BACpBhB%3BEACC%3B%3BAAEA%2CiBAAC%3BEACA%3B%3BAAJF%2CiBAQG%3BEACD%3B%3BAATF%2CiBAQG%2CiBAGD%2CcAAgB%2CIAAC%3BEAChB%3BEACA%3B%3BACNH%3BEACI%2CmBAAA%3B%3BAAEJ%3BAACA%3BEACI%2CgBAAA%3B%3BAAEJ%2CQAAQ%3BEACJ%3BEACA%2CYAAA%3B%3BAAEJ%3BEACI%3B%3BAAIJ%3BEACI%3BEACA%3BEACA%2CqBAAA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAAEJ%2CWAAW%2CMAAO%3BEACd%3B%3BAAEJ%3BEACI%3BEACA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3BEACA%3B%3BAAEJ%2CUAAW%3BEACP%3B%3BAAEJ%2CQACI%3BEACI%3BEACA%3B%3BAAGR%2CWAAW%3BEACP%3B%3BAADJ%2CWAAW%2CWAEP%3BEACI%3B%3BAAHR%2CWAAW%2CWAKP%3BEACI%2CmBAAA%3B%3BAAGR%2CWAAW%2CYACP%3BEACI%3B%3BAAKR%3BEACI%2CeAAA%3BEACA%2CgBAAA%3BEACA%3BEACA%2CcAAA%3BEACA%3BEACA%3B%3BAANJ%2CMAQI%3BEACI%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CyBAAA%3BEACA%3B%3BAAfR%2CMAiBI%2COAAM%3BAAjBV%2CMAkBI%2COAAM%3BEACF%3BEACA%3BEACA%3B%3BAArBR%2CMAuBI%2COAAM%3BEACF%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAA5BR%2CMA%2BBI%3BEACI%3B%3BAAIR%3BEACC%3B%3BACzGD%2CcACI%3BAADJ%2CcACW%3BEACH%3BEACA%3B%3BACHR%2CeACI%3BEACI%3BEACA%3BEACA%3BEACA%3B%3BEACA%3B%3BACLR%3BEACI%3BEAEA%3B%3BAAHJ%2CcAKI%3BEACI%3BEAEA%2CcAAA%3B%3BAARR%2CcAWI%3B%3BEACI%3BEAEA%2C4BAAA%3BEAEA%3BEAEA%3B%3BAAlBR%2CcAqBI%3BEACI%3BEAEA%3BEAEA%3BEAEA%3B%3BAAKR%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAGJ%3BEACI%3BEAEA%3BEAEA%3B%3BAAGJ%3BEACI%2CcAAA%3B%3BAAGJ%3BEACI%3B%3BAADJ%2CcAGI%3BEACI%3B%3BAAUR%2CQANuC%3BEACnC%3BIACI%3B%3B%3BAAIR%3BEACI%3BEAEA%3BEACA%2CgBAAA%3BEAEA%3B%3BAANJ%2CIAQI%2CYAAW%3BEACP%3BEACA%3BEAEA%2CiBAAA%3B%3BAAZR%2CIAeI%3BEACI%3B%3BAAhBR%2CIAmBI%3BEACI%3B%3BAAKR%3BEACI%3BEACA%3B%3BAAGJ%2CIAAI%3BEACA%3BEAEA%3B%3BAAHJ%2CIAAI%2CSAKA%3BEACI%3B%3BAANR%2CIAAI%2CSAKA%2CcAGM%3BEACE%3BEACA%3BEAEA%3BEAEA%3B%3BAAdZ%2CIAAI%2CSAkBA%2CYAAW%3BEACP%3B%3BAAnBR%2CIAAI%2CSAkBA%2CYAAW%2CcAGP%3BEACI%3B%3BAAKZ%2CIAAI%3BEACA%3B%3BAADJ%2CIAAI%2CWAGA%3BAAHJ%2CIAAI%2CWAIA%3BEACI%3B%3BAALR%2CIAAI%2CWAQA%2CSAAW%3BEACP%3BEACA%3BEACA%3BEAEA%3BEACA%3B%3BAAdR%2CIAAI%2CWAiBA%2CMAAK%2CQAAW%3BEACZ%3B%3BAACA%2CIAnBJ%2CWAiBA%2CMAAK%2CQAAW%2CcAEX%3BEACG%2CSAAS%2CEAAT%3B%3BAAKZ%2CIAAI%2CuBAEA%3BEACI%3BEACA%3B%3BAAII%2CIARR%2CuBAEA%2CSAIM%2CcAEG%3BAACD%2CIATR%2CuBAEA%2CSAIM%2CcAGG%3BEACG%3BEACA%3BEACA%3B%3BAAGJ%2CIAfR%2CuBAEA%2CSAIM%2CcASG%3BEACG%3B%3BAAGJ%2CIAnBR%2CuBAEA%2CSAIM%2CcAaG%3BEACG%3B%3BAAkBhB%2CmBAbwC%3BEAaxC%2CIAtCI%2CuBA0BI%2CSAAW%3BIAEP%3BIACA%3B%3BEAEA%2CIA%5C%2FBR%2CuBA0BI%2CSAAW%2CcAKN%3BEACD%2CIAhCR%2CuBA0BI%2CSAAW%2CcAMN%3BIACG%3BIACA%3B%3B%3BAC5LhB%2CcACC%3BEACC%3B%3BAAFF%2CcAKC%2CEAAC%3BEACA%3BEACA%2CmBAAA%3BEACA%3BEACA%2CeAAA%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CSAAS%2CEAAT%3B%3BAAdF%2CcAiBC%2CEAAC%2CcAAc%3BEACd%3B%3BAAlBF%2CcAqBC%2CEAAC%2CcAAc%3BAArBhB%2CcAsBC%2CEAAC%2CeAAe%3BEACf%3B%3BAAvBF%2CcA0BC%2CEAAC%2CcAAc%3BAA1BhB%2CcA2BC%2CEAAC%2CeAAe%3BEACf%3B%3BATTF%3BAAAQ%3BAAAO%3BAAAQ%3BEACnB%3BEACA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAUrBJ%3BEACI%2C4BAAA%3BEAEA%2CaVyIY%2CyBUzIZ%3B%3BAAKJ%2CQAH2C%3BEAG3C%3BIAFQ%3B%3B%3BAAIR%3BEACI%2CyBAAA%3B%3BAAGJ%3BEACI%3B%3BAAGJ%3BEACI%3B%3BAAGJ%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BEAChB%2CcAAA%3BEACA%3BEACA%2CaVkHU%2C%2BBUlHV%3BEACA%3BEACA%3B%3BAALJ%2CEAOM%3BAAPF%2CEAOE%3BAAPE%2CEAOF%3BAAPM%2CEAON%3BAAPU%2CEAOV%3BAAPc%2CEAOd%3BEACE%3BEACA%3B%3BAAIR%3BEACI%3BEACA%2CgBAAA%3B%3BAAGJ%2CCAAC%3BEACG%3B%3BAAGJ%3BEACI%2CcAAA%3BEAEA%3BEAEA%3BEACA%2CyBAAA%3B%3BAAEA%2CCAAC%3BEACG%2CcAAA%3BEACA%3B%3BAAGJ%2CCAAC%3BEACG%2CcAAA%3B%3BAAGJ%2CCAAC%3BEACG%2CcAAA%3B%3BAAIR%3BAAAI%3BEACA%3B%3BAAGJ%3BEACI%2CeAAA%3B%3BAAGJ%3BEACI%3B%3BAAGJ%2CKAAK%3BEACD%3BEACA%3BEACA%3BEACA%3B%3BAAIJ%3BAACA%3BEACI%2CyBAAA%3BEACA%2CiCAAA%3BEAEA%2C4BAAA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3B%3BAAGJ%3BEACI%3B%3BAAKJ%3BEACI%3BEACA%3B%3BAAGJ%3BEACI%3B%3BAAGJ%2CKAAK%3BAACL%2CKAAK%3BAACL%2CKAAK%3BAACL%2CKAAK%3BAACL%3BEACI%2CmBAAA%3BEACA%3BEACA%2CmCAAA%3BEACA%3BEAEA%3BEAEA%3B%3BAAEA%2CKAdC%2CaAcG%3BAAAJ%2CKAbC%2CiBAaG%3BAAAJ%2CKAZC%2CeAYG%3BAAAJ%2CKAXC%2CcAWG%3BAAAJ%2CQAAI%3BEACA%3B%3BAAGJ%2CKAlBC%2CaAkBA%3BAAAD%2CKAjBC%2CiBAiBA%3BAAAD%2CKAhBC%2CeAgBA%3BAAAD%2CKAfC%2CcAeA%3BAAAD%2CQAAC%3BEACG%3BEACA%2C4BAAA%3B%3BAAGJ%2CKAvBC%2CaAuBA%3BAAAD%2CKAtBC%2CiBAsBA%3BAAAD%2CKArBC%2CeAqBA%3BAAAD%2CKApBC%2CcAoBA%3BAAAD%2CQAAC%3BEACG%2C4BAAA%3B%3BAAGJ%2CKA3BC%2CaA2BA%3BAAAD%2CKA1BC%2CiBA0BA%3BAAAD%2CKAzBC%2CeAyBA%3BAAAD%2CKAxBC%2CcAwBA%3BAAAD%2CQAAC%3BEACG%2C4BAAA%3B%3BAAKJ%2CKADC%2CcACA%2CQAAW%3BEACR%3B%3BAAEA%2CKAJH%2CcACA%2CQAAW%2CcAGP%3BEACG%2CSAAS%2CyCAAT%3B%3BAAMR%2CKADC%2CiBACA%2CQAAW%3BEACR%3B%3BAAEA%2CKAJH%2CiBACA%2CQAAW%2CcAGP%3BEACG%2CSAAS%2CoCAAT%3B%3BAAKZ%3BEACI%2CiBAAA%3BEACA%3BEACA%3BEACA%2CcAAA%3B%3BAAGJ%3BEACI%3BEAEA%3BEAEA%3BEAEA%2CgBAAA%3BEAEA%3B%3BAATJ%2CWAWM%3BEACE%3BEACA%3B%3BAAIR%2CGAAG%3BEACC%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAGJ%3BEACI%3B%3BAC3MJ%3BEACI%2CyBAAA%3B%3BAAEA%2CUAAC%3BEAEG%3B%3BAAIR%3BEAEI%3BEAEA%2CmBAAA%3BEACA%2CkDAAA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%2CcAAA%3BEAEA%3BEAEA%3BEAEA%3B%3BAApBJ%2CMAsBI%3BEACI%3B%3BAAiBJ%2CQAbmC%3BEAanC%2CMAdC%3BIAEO%3BIAEA%2CgBAAA%3BIAEA%3BIAEA%3BIAEA%3BIAEA%3B%3B%3BAAtCZ%2CMA0CI%3BAA1CJ%2CMA0CQ%3BAA1CR%2CMA0CY%3BAA1CZ%2CMA0CoB%3BEACZ%3BEACA%3BEACA%2CyBAAA%3BEACA%3BEACA%3B%3BAA%5C%2FCR%2CMAkDI%3BAAlDJ%2CMAkDO%3BEACC%2CcAAA%3BEACA%3B%3BAApDR%2CMAuDI%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%2CcAAA%3B%3BAAKR%2CCAAC%3BEACG%3BEAEA%2CyBAAA%3BEAEA%3BEAEA%3BEAEA%2CiBAAA%3B%3BAATJ%2CCAAC%2CKAWK%3BEACE%3B%3BAAZR%2CCAAC%2CKAeG%3BEACI%2CaAAA%3B%3BAAhBR%2CCAAC%2CKAmBG%3BEACI%2CcAAA%3BEAEA%3B%3BAAGJ%2CCAzBH%2CKAyBI%3BEACG%2CyBAAA%3BEAEA%3B%3BAAHJ%2CCAzBH%2CKAyBI%2CMAKG%3BAALJ%2CCAzBH%2CKAyBI%2CMAMG%3BEACI%2CcAAA%3BEAEA%2CaAAA%3B%3BAAKZ%2CIAAI%2CgBAAmB%3BEACnB%3B%3BAAGJ%2CEAAE%2CKAEE%3BEACI%3B%3BAAHR%2CEAAE%2CKAME%3BEACI%2CcAAA%3BEACA%3B%3BAAEA%2CEAVN%2CKAME%2CEAIK%3BEACG%3B%3BAAXZ%2CEAAE%2CKAeE%2CQAAU%3BEACN%3B%3BAAGJ%2CEAnBF%2CKAmBM%3BEACA%3B%3BAAIR%2CEAAE%2CKAAK%3BEACH%3B%3BAADJ%2CEAAE%2CKAAK%2CUAGH%3BEACI%3B%3BAAMR%2CEAAE%2CKAAK%3BEACH%3BEAEA%3B%3BAAHJ%2CEAAE%2CKAAK%2CQAKH%3BEA%5C%2FJA%2CyBAAA%3BEAkKI%2CoCAAA%3BEAEA%3BEAEA%2CkBAAA%3BEAEA%3B%3BAAtKJ%2CEAwJF%2CKAAK%2CQAKH%2CEA7JC%3BEAEG%3B%3BAAsJR%2CEAAE%2CKAAK%2CQAiBH%2CQAAU%3BEACN%2C4BAAA%3B%3BAAIR%3BEACI%3BEAEA%3BEAEA%3B%3BAAGJ%3BEACI%3BEAEA%3BEAEA%3BEAEA%3B%3BAAPJ%2CUASM%3BEACE%2CaAAA%3BEAEA%2CYAAA%3BEAEA%2CyBAAA%3BEAEA%2CWAAA%3B%3BAAEA%2CUATF%2CMASG%3BEACG%2CaAAA%3B%3BAAKZ%3BEACI%3BEAEA%2CyBAAA%3BEACA%3BEAEA%2CcAAA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAzBJ%2CUA2BI%3BEACI%3BEACA%3BEAEA%3B%3BAA%5C%2FBR%2CUA2BI%2CQAMI%3BAAjCR%2CUA2BI%2CQAOI%3BEACI%2CWAAA%3BEACA%2CYAAA%3B%3BAApCZ%2CUAwCI%3BEACI%3BEAEA%3BEACA%3B%3BAA5CR%2CUA%2BCI%3BEACI%3BEAEA%2CaAAA%3BEAEA%3BEAEA%2CyBAAA%3B%3BAAEA%2CUATJ%2CIASK%3BEACG%2CaAAA%3BEAEA%2CWAAW%2CcAAX%3B%3BAA3DZ%2CUA%2BDI%2CGAAE%2CKAAK%3BEACH%3BEAEA%3BEAEA%3B%3BAApER%2CUA%2BDI%2CGAAE%2CKAAK%2CMAOH%3BEACI%3BEACA%3B%3BAAGJ%2CUAZJ%2CGAAE%2CKAAK%2CMAYF%3BEACG%3BEACA%3B%3BAA7EZ%2CUAiFI%2CKAAI%3BEACA%3BEACA%3BEAEA%2CgBAAA%3B%3BAAgBP%2CmBAZ2C%3BEACxC%2CWAAc%2CIAAC%2CIAAI%3BIACf%3B%3BEAGJ%3BIACI%3B%3BEAGJ%2CUAAU%3BIACN%3B%3B%3BACvTR%3BEACI%2CmBAAA%3BEACA%3BEACA%3BEACA%3B%3BAAJJ%2CMAMI%3BEACI%3B%3BAAPR%2CMAUI%3BEACI%3B%3BAAXR%2CMAcM%3BEACE%3BEAEA%3BEAEA%3BEAEA%2CcAAA%3BEACA%2CgBAAA%3BEACA%3BEAEA%3B%3BAAzBR%2CMAcM%2CMAaI%3BEACE%2CSAAA%3BEACA%3B%3BAA7BZ%2CMAcM%2CMAkBI%3BEACE%3B%3BAAOR%2CQAH2C%3BEAG3C%2CMA1BE%3BIAwBM%3B%3B%3BACtCZ%2CEAAE%3BAACF%2CMAAM%3BEACF%3BEACA%3B%3BAAGJ%2CEAAE%3BEACE%3BEACA%3BEAEA%2CuBAAuB%2CcAAvB%3BEACA%3BEACA%2CyBAAA%3BEAKA%3BEAEA%3BEACA%3BEAMA%3B%3BAAAA%2CmBAJoC%3BEAIpC%2CEApBF%3BIAiBM%2CuBAAuB%2CcAAvB%3B%3B%3BAAjBR%2CEAAE%2CMAsBI%3BEACE%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3B%3BAA%5C%2FBR%2CEAAE%2CMAkCE%3BEACI%3BEAEA%2CcAAA%3BEAEA%3BEAEA%3B%3BAAzCR%2CEAAE%2CMA4CE%3BEACI%2CQAAQ%2CeAAR%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAArDR%2CEAAE%2CMA4CE%2CWAWM%3BEACE%3B%3BAAGJ%2CEA3DN%2CMA4CE%2CWAeK%2CQAAW%3BEACR%2CQAAQ%2CUAAU%2CeAAlB%3B%3BAA5DZ%2CEAAE%2CMAgEE%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3BEACA%2CWAAW%2CkBAAX%3BEAEA%3B%3BAA7ER%2CEAAE%2CMAiFE%3BEACI%3BEACA%3B%3BAAnFR%2CEAAE%2CMAsFE%3BEACI%3BEACA%3BEAEA%2CeAAA%3B%3BAA1FR%2CEAAE%2CMA6FE%3BEACI%2CyBAAA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAEA%2CEA7GN%2CMA6FE%2CEAgBK%3BEACG%2CyBAAA%3B%3BAAMZ%2CEAAE%2CSAAY%3BEACV%3BEACA%2CkDAAA%3BEAEA%3BEAEA%2CyBAAA%3B%3BAAEA%2CEARF%2CSAAY%2CKAQT%3BEACG%2CkDAAA%3B%3BAAIR%2CEAAE%3BEACE%3BEACA%3BEACA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3BEAEA%2CkBAAA%3B%3BAAdJ%2CEAAE%2CcAgBI%2CKAAK%2CKAAE%3BEACL%2CSAAS%2CGAAT%3BEACA%3BEACA%2CgBAAA%3B%3BAAnBR%2CEAAE%2CcAsBI%2CKAAE%2CYACE%3BEACE%3B%3BAAGJ%2CEA3BN%2CcAsBI%2CKAAE%2CYAKC%3BEACG%3BEACA%3B%3BAA7BZ%2CEAAE%2CcAiCI%2CKAAE%2CWAAW%3BEACX%2CSAAS%2CGAAT%3B%3BAAlCR%2CEAAE%2CcAqCE%3BEACI%3BEAEA%3B%3BAAEA%2CEA1CN%2CcAqCE%2CEAKK%3BEACG%3B%3BACnLZ%3BAACA%3BEACI%2CmBAAA%3BEACA%3BEACA%3BEAEA%2CcAAA%3BEACA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%2CoBAAA%3BEAEA%3BEACA%2CyBAAA%3B%3BAAEA%2COAAC%3BAAAD%2CMAAC%3BEACG%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BEACG%2CmBAAA%3BEAEA%3BEAEA%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BEACG%2CcAAA%3B%3BAAlCR%2COAqCI%3BAApCJ%2CMAoCI%3BEACI%3BEACA%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BEACG%3BEACA%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BAA%5C%2FCL%2COA%2BCiB%3BAA9CjB%2CMA8CiB%3BEACT%3BEACA%3BEACA%2C4BAAA%3BEACA%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BEACG%3BEACA%3BEACA%3B%3BAAGJ%2COAAC%3BAAAD%2CMAAC%3BAACD%2COAAC%3BAAAD%2CMAAC%3BEACG%2CyBAAA%3B%3BAAEA%2COAJH%2CeAII%3BAAAD%2CMAJH%2CeAII%3BAAAD%2COAHH%2CUAGI%3BAAAD%2CMAHH%2CUAGI%3BEACG%2CyBAAA%3B%3BAAIR%2COAAC%3BAAAD%2CMAAC%3BEACG%3B%3BAAIR%2COAAO%3BEAEH%3B%3BAAGJ%2COAAO%3BEACH%2CyBAAA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAEA%2COAVG%2CMAUF%3BEACG%2CyBAAA%3B%3BAAIR%3BEAEI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAhBJ%2CoBAkBI%3BEACI%3BEACA%3B%3BAAIR%3BEACI%3BEAEA%3B%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAGJ%2COAAO%3BEACH%3B%3BAAGJ%2COAAU%3BEACN%3B%3BAC%5C%2FIJ%2CQACI%2CEAAC%2CIAAI%3BEACD%3B%3BAAFR%2CQAKI%3BEACI%2CmBAAA%3BEACA%3BEAEA%3BEACA%2CgBAAA%3BEAEA%3B%3BAAIR%3BEACI%3BEACA%3BEACA%2CaAAA%3B%3BAA2CJ%3BEAtCI%3BEAAQ%3BIACJ%3B%3BEAGJ%3BIACI%3BIACA%3BIAMA%3B%3BEARJ%2CMAII%3BEAJJ%2CMAIS%3BIACD%3B%3BEALR%2CMAUI%3BIACI%3BIACA%3B%3BEAIR%3BIACI%3BIACA%2C2BAA2B%2CwBAA3B%3B%3BEAGJ%3BIACI%3B%3BEAGJ%3BEAAI%3BEAAI%3BEAAI%3BEAAI%3BEAAI%3BIAChB%3B%3BEAGJ%3BIACI%3B%3B%3BAC3DR%2CIAAI%3BEACA%3B%3BAADJ%2CIAAI%2CKAGE%3BEACE%3BEAEA%2CyBAAA%3BEAEA%2C4BAAA%3BEAEA%3BEACA%2CgBAAA%3BEAEA%2CeAAA%3BEAEA%3B%3BAAfR%2CIAAI%2CKAGE%2CwBAcE%3BAAjBR%2CIAAI%2CKAGE%2CwBAeE%3BAAlBR%2CIAAI%2CKAGE%2CwBAgBE%3BEACI%2CcAAA%3B%3BAApBZ%2CIAAI%2CKAGE%2CwBAoBE%3BEACI%3B%3BAAxBZ%2CIAAI%2CKAGE%2CwBAwBE%3BEACI%3B%3BAAMZ%3BEACI%3BEAEA%3BEACA%2C4CAAA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3B%3BAAjBJ%2CYAmBI%3BEACI%2CmBAAA%3BEAEA%2CoBAAA%3BEACA%2CkBAAA%3B%3BAAKJ%2CQAH4C%3BEAG5C%2CYATA%3BIAOQ%3B%3B%3BAAUR%2CQAL4C%3BEAK5C%2CYANA%3BIAEQ%3BIAEA%2CaAAA%3B%3B%3BAAlCZ%2CYAsCI%3BEACI%3BEAEA%3BEAEA%3B%3BAAIR%3BEACI%3BEACA%2CsCAAA%3BEAEA%3BEAEA%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAKJ%2CeAAgB%3BEACZ%2CcAAA%3B%3BACtFJ%3BEACI%3BEACA%3BEACA%3BEACA%2CqCAAA%3BEACA%2C0BAAA%3BEACA%3BEACA%3BEAEA%3B%3BAAGJ%3BEACI%3BEAEA%2CcAAA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAEA%2CYAAC%2CQAAW%3BEACR%2CqCAAA%3BEAEA%2CQAAQ%2CWAAW%2CeAAnB%3BEAEA%3BEAEA%3BEAEA%3B%3BAAIR%2CIAAO%3BEACH%3BEAEA%3B%3BAAQJ%2CmBALoC%3BEAChC%3BIACI%3B%3B%3BACpDR%3BEACI%3B%3BAADJ%2CaAGI%3BEACI%2CmBAAA%3BEACA%3B%3BAALR%2CaAQI%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3B%3BAArBR%2CaAQI%2CaAeI%3BEACI%3BEACA%3BEACA%2CmDAAA%3B%3BAAGJ%2CaArBJ%2CaAqBK%3BEACG%2CQAAQ%2CcAAR%3B%3BAAMR%2CmBAHyC%3BEAGzC%2CaA5BA%3BIA0BQ%3B%3B%3BAAlCZ%2CaAsCI%3BEACI%3BEACA%3BEACA%3BEAEA%2CgBAAA%3B%3BAA3CR%2CaA8CI%3BEACI%3BEAGA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3B%3BAA%5C%2FDR%2CaA8CI%2CUAmBM%3BEACE%3BEAEA%2CcAAA%3BEACA%3BEAEA%3BEACA%3BEAEA%3B%3BAA1EZ%2CaA8CI%2CUA%2BBI%3BAA7ER%2CaA8CI%2CUAgCI%3BEACI%3BEACA%3B%3BAAhFZ%2CaA8CI%2CUAqCI%3BEACI%3BEACA%3BEAEA%3BEACA%3BEAEA%3BEAEA%3B%3BAA5FZ%2CaA8CI%2CUAiDI%2CQAAO%3BEACH%3B%3BAAhGZ%2CaA8CI%2CUAqDI%3BEAEI%3BEACA%3BEAEA%3B%3BACvGZ%2CIAAI%2CQAEA%3BAAFJ%2CIAAI%2CQAGA%3BAAHJ%2CIAAI%2CQAIA%2CGAAK%3BAAJT%2CIAAI%2CQAKA%2CGAAK%3BEACD%3B%3BACNR%2CIAAI%2CQAEA%3BAAFJ%2CIAAI%2CQAGA%3BEACI%3B%3BACHR%2CaAAgB%2CYAAS%3BEACxB%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3BEACA%2C4CAAA%3B%3BAAGD%3BEACC%2CgBAAA%3BEACA%3BEACA%3BEACA%2CiBAAA%3BEACA%2CcAAA%3BEACA%2CoCAAA%3BEACA%3BEACA%3B%3BAAGD%3BEACC%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%2CgBAAA%3BEACA%3BEACA%2CsCAAA%3BEACA%2CWAAA%3B%3BAATD%2CIAaC%3BEACC%3BEACA%3B%3BAAfF%2CIAkBC%3BEACC%3B%3BAC5CF%3BEACI%3BEAEA%3BEAEA%3BEAEA%3B%3BAAPJ%2COASI%3BEACI%2CQAAQ%2CeAAR%3BEAEA%3BEAEA%2CcAAA%3BEAEA%3BEAEA%3BEAEA%3B%3BAAEA%2COAbJ%2CiBAaK%3BEACG%2CQAAQ%2CeAAR%3B%3BAAGJ%2COAjBJ%2CiBAiBK%2CQAAW%3BEACR%2CqCAAA%3BEAEA%2CQAAQ%2CWAAW%2CeAAnB%3BEAEA%3BEAEA%3BEAEA%3B%3BAAnCZ%2COAuCI%3BEACI%3BEACA%3BEACA%3BEACA%2C0BAAA%3BEACA%2C4BAAA%3BEAEA%3B%3BAAOR%2CmBAJgD%3BEAIhD%3BIAHQ%3B%3B%3BAAKR%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEACA%2CWAAW%2CqBAAX%3BEACA%3B%3BAATJ%2CeAWI%3BAAXJ%2CeAWQ%3BAAXR%2CeAWY%3BAAXZ%2CeAWgB%3BEACR%2CcAAA%3BEAEA%3BEACA%3B%3BAAfR%2CeAkBI%3BAAlBJ%2CeAkBQ%3BAAlBR%2CeAkBY%3BEACJ%3B%3BAAnBR%2CeAsBI%3BEACI%3BEACA%3B%3BAAxBR%2CeA2BI%3BEACI%3B%3BAAaR%2CmBAVgD%3BEAUhD%2CeATQ%3BEASR%2CeATY%3BEASZ%2CeATgB%3BIACJ%3BIACA%3B%3BEAOZ%2CeAJQ%3BIACI%3B%3B%3BAC7FZ%3BEACI%3BEACA%2CiBAAA%3B%3BAAMJ%2CQAJ2C%3BEAI3C%3BIAHQ%3BIACA%3B%3B%3BAAIR%3BEAEI%3BEAEA%3BEAEA%2CcAAA%3B%3BAAEA%2CaAAE%3BEACE%2C0BAAA%3B%3BAAIR%3BEACI%3B%3BAADJ%2CkBAGM%3BETxBF%2CmBAAA%3BEACA%3BEACA%3BEAEA%2CcAAA%3BEACA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%2CoBAAA%3BEAEA%3BEACA%2CyBAAA%3B%3BAAEA%2CkBSKE%2CITLD%3BEACG%3B%3BAAGJ%2CkBSCE%2CITDD%3BEACG%2CmBAAA%3BEAEA%3BEAEA%3B%3BAAGJ%2CkBSPE%2CITOD%3BEACG%2CcAAA%3B%3BASXR%2CkBAGM%2CITWF%3BEACI%3BEACA%3B%3BAAGJ%2CkBShBE%2CITgBD%3BEACG%3BEACA%3B%3BAAGJ%2CkBSrBE%2CITqBD%3BASxBL%2CkBAGM%2CITqBW%3BEACT%3BEACA%3BEACA%2C4BAAA%3BEACA%3B%3BAAGJ%2CkBS5BE%2CIT4BD%3BEACG%3BEACA%3BEACA%3B%3BAAGJ%2CkBSlCE%2CITkCD%3BAACD%2CkBSnCE%2CITmCD%3BEACG%2CyBAAA%3B%3BAAEA%2CkBStCF%2CITkCD%2CeAII%3BAAAD%2CkBStCF%2CITmCD%2CUAGI%3BEACG%2CyBAAA%3B%3BAAIR%2CkBS3CE%2CIT2CD%3BEACG%3B%3BASvCR%2CmBACI%3BET9BA%2CmBAAA%3BEACA%3BEACA%3BEAEA%2CcAAA%3BEACA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%2CoBAAA%3BEAEA%3BEACA%2CyBAAA%3B%3BAAEA%2CmBSWA%2CETXC%3BEACG%3B%3BAAGJ%2CmBSOA%2CETPC%3BEACG%2CmBAAA%3BEAEA%3BEAEA%3B%3BAAGJ%2CmBSDA%2CETCC%3BEACG%2CcAAA%3B%3BASHR%2CmBACI%2CETKA%3BEACI%3BEACA%3B%3BAAGJ%2CmBSVA%2CETUC%3BEACG%3BEACA%3B%3BAAGJ%2CmBSfA%2CETeC%3BAShBL%2CmBACI%2CETea%3BEACT%3BEACA%3BEACA%2C4BAAA%3BEACA%3B%3BAAGJ%2CmBStBA%2CETsBC%3BEACG%3BEACA%3BEACA%3B%3BAAGJ%2CmBS5BA%2CET4BC%3BAACD%2CmBS7BA%2CET6BC%3BEACG%2CyBAAA%3B%3BAAEA%2CmBShCJ%2CET4BC%2CeAII%3BAAAD%2CmBShCJ%2CET6BC%2CUAGI%3BEACG%2CyBAAA%3B%3BAAIR%2CmBSrCA%2CETqCC%3BEACG%3B%3BASvCR%2CmBAKI%2CGAAE%3BETlCF%2CmBAAA%3BEACA%3BEACA%3BEAEA%2CcAAA%3BEACA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEAEA%2CoBAAA%3BEAEA%3BEACA%2CyBAAA%3BEA6BI%3BEACA%3BEACA%2C4BAAA%3BEACA%3B%3BAA9BJ%2CmBSeA%2CGAAE%2COTfD%3BEACG%3B%3BAAGJ%2CmBSWA%2CGAAE%2COTXD%3BEACG%2CmBAAA%3BEAEA%3BEAEA%3B%3BAAGJ%2CmBSGA%2CGAAE%2COTHD%3BEACG%2CcAAA%3B%3BASHR%2CmBAKI%2CGAAE%2COTCF%3BEACI%3BEACA%3B%3BAAGJ%2CmBSNA%2CGAAE%2COTMD%3BEACG%3BEACA%3B%3BAAGJ%2CmBSXA%2CGAAE%2COTWD%3BAShBL%2CmBAKI%2CGAAE%2COTWW%3BEACT%3BEACA%3BEACA%2C4BAAA%3BEACA%3B%3BAAGJ%2CmBSlBA%2CGAAE%2COTkBD%3BEACG%3BEACA%3BEACA%3B%3BAAGJ%2CmBSxBA%2CGAAE%2COTwBD%3BAACD%2CmBSzBA%2CGAAE%2COTyBD%3BEACG%2CyBAAA%3B%3BAAEA%2CmBS5BJ%2CGAAE%2COTwBD%2CeAII%3BAAAD%2CmBS5BJ%2CGAAE%2COTyBD%2CUAGI%3BEACG%2CyBAAA%3B%3BAAIR%2CmBSjCA%2CGAAE%2COTiCD%3BEACG%3B%3BAUtER%2CgBAAmB%3BEAClB%3B%3BACDD%3BEACI%3B%3BAADJ%2CsBAGI%3BEACI%3B%3BAAIR%3BEACI%3BEAEA%3BEAEA%3BEAEA%3BEAEA%2CiBAAA%3BEACA%3BEAEA%2CmBAAA%3BEAEA%3B%3BAAEA%2CYAAC%3BEACG%2CiBAAA%3BEAEA%3B%3BAAHJ%2CYAAC%2CKAKG%3BAALJ%2CYAAC%2CKAMG%2CEAAI%3BEACA%3B%3BAAPR%2CYAAC%2CKAUG%3BEACI%3BEAEA%2C0BAAA%3B%3BAA7BZ%2CYAiCI%3BEACI%3B%3BAAlCR%2CYAqCM%2CKAAG%3B%3BEACD%3B%3BAAtCR%2CYAyCI%3BAAzCJ%2CYAyCO%2CEAAI%3BEACH%3B%3BAA1CR%2CYA6CI%3BEACI%3BEAEA%3BEAEA%3BEAEA%2C2BAAA%3BEAEA%2CwBAAA%3B%3BAAtDR%2CYAyDI%2CIAAI%3BEACA%2CaAAA%3B%3BAAKR%2CCAAC%3BEACG%3B%3BAAGJ%2CCAAC%2CeAAe%3BEACZ%3B%3BAAGJ%2CCAAC%3BEACG%3B%3BAAGJ%2CCAAC%2CeAAe%3BEACZ%3B%3BACnFJ%3BEACI%3BEAEA%3BEACA%2CkDAAA%3BEACA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEAEA%3BEACA%3BEAEA%3BEACA%3BEAEA%3BEAEA%2CwBAAA%3BEAEA%3B%3BAAGA%2CSAAC%3BEACG%3BEACA%3B%3BAAGJ%2CSAAC%3BEACG%2CyBAAA%3BEACA%3B%3B%3B%3B%3BAClCR%2CCAAC%3BEACA%3B%3BAADD%2CCAAC%2C2BAGA%3BEACC%3B%3BAAGD%2CCAPA%2C2BAOC%2COACA%3BEACC%3B%3BAAFF%2CCAPA%2C2BAOC%2COAKA%3BEACC%2CmBAAA%3BEACA%3B%3BAClBH%3BAACA%2CaAAgB%3BEACf%3BEACA%3BEACA%3BEACA%2CkCAAA%3B%3BA5BiED%2CaAAgB%3BAAChB%2CIAAO%2CWAAW%3BAAClB%2CIAAO%3BEACH%2CgBAAA%3BEACA%3BEACA%3BEACA%22%7D */